<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>在线聊天</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/admin/assets/libs/layui/css/layui.css}" href="../res/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/admin/assets/module/admin.css(v=318)}" href="admin/assets/module/admin.css?v=318">
    <link rel="stylesheet" th:href="@{/front/res/css/global.css}" href="../res/css/global.css">
    <style>
        .layim-status-hide {
            color: #fda56c !important;
        }
    </style>
</head>
<body>

<div th:replace="~{front/common/common :: frontHeader(${loginUser})}"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <div th:replace="~{front/common/common :: userCenterSidebar('chat')}"></div>
    <div th:replace="~{front/common/common :: userCenterHideDom}"></div>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
            <div class="layui-card-header">在线聊天</div>
            <div class="layui-card-body">
                <div class="layui-btn-container LAY-senior-im-chat-demo">
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{front/common/common :: frontFooter}"></div>

<!-- 新建分组弹窗 -->
<script type="text/html" id="createFriendGroupDialog">
    <form class="layui-form model-form">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">分组名:</label>
            <div class="layui-input-block">
                <input type="text" name="friendGroupName" placeholder="请输入分组名" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block text-right">
                <button class="layui-btn" lay-filter="createFriendGroupSubmit" lay-submit>保存</button>
                <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            </div>
        </div>
    </form>
</script>

<script type="text/html" id="blankFriendGroup">
    <li>
        <h5 data-id="{{ d.id }}" layim-event="spread" lay-type="false"><i class="layui-icon">&#xe602;</i>
            <span>{{ d.groupName }}</span><em>(<cite class="layim-count"> 0</cite>)</em>
        </h5>
        <ul class="layui-layim-list"><li class="layim-null">该分组下暂无好友</li></ul>
    </li>
</script>

<script type="text/javascript" th:src="@{/admin/assets/libs/layui/layui.js}" src="assets/libs/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/admin/assets/js/common.js(v=318)}" src="assets/js/common.js?v=318"></script>
<script>
    layui.use(['layim', 'app', 'contextMenu', 'admin', 'form', 'laytpl', 'ClientWebSocket'], function () {
        var $ = layui.$,
            admin = layui.admin,
            app = layui.app,
            contextMenu = layui.contextMenu,
            layim = layui.layim,
            form = layui.form,
            laytpl = layui.laytpl;
        var socket;

        //基础配置
        layim.config({
            //初始化接口
            init: {
                url: '/chat/list',
                data: {}
            },
            //查看群员接口
            members: {
                url: '/admin/json/layim/getMembers.json',
                data: {}
            },
            uploadImage: {
                url: '/chat/upload/image',
                type: 'POST' // 默认post
            },
            uploadFile: {
                url: '', //（返回的数据格式见下文）
                type: '' //默认post
            },
            isAudio: true, //开启聊天工具栏音频
            isVideo: true, //开启聊天工具栏视频
            //扩展工具栏
            tool: [{
                alias: 'code',
                title: '代码',
                icon: '&#xe64e;'
            }],
            //brief: true, //是否简约模式（若开启则不显示主面板）
            title: '在线聊天', //自定义主面板最小化时的标题
            right: '16px', //主面板相对浏览器右侧距离
            //minRight: '90px', //聊天面板最小化时相对浏览器右侧距离
            initSkin: '3.jpg', //1-5 设置初始背景
            //skin: ['aaa.jpg'], //新增皮肤
            //isfriend: false, //是否开启好友
            //isgroup: false, //是否开启群组
            //min: true, //是否始终最小化主面板，默认false
            //notice: true, //是否开启桌面消息提醒，默认false
            //voice: false, //声音提醒，默认开启，声音文件为：default.mp3
            msgbox: '/chat/msgbox',  //消息盒子页面地址，若不开启，剔除该项即可
            find: '/chat/find',  //发现页面地址，若不开启，剔除该项即可
            chatLog: '/chat/chatlog' //聊天记录页面地址，若不开启，剔除该项即可
        });
        //监听签名修改
        layim.on('sign', function (value) {
            app.ajax('/user/center/updateInfo', { description: value }, function (res) {
                app.successNotice('修改个人签名成功');
            });
        });
        //监听自定义工具栏点击，以添加代码为例
        layim.on('tool(code)', function (insert) {
            layer.prompt({
                title: '插入代码 - 工具栏扩展示例'
                , formType: 2
                , shade: 0
            }, function (text, index) {
                layer.close(index);
                insert('[pre class=layui-code]' + text + '[/pre]'); //将内容插入到编辑器
            });
        });
        //监听layim建立就绪
        layim.on('ready', function (res) {
            let msgBox = res.mine.extra.msgBox;
            if (msgBox > 0) {
                layim.msgbox(msgBox); // 消息盒子的消息数量
            }
            initFriendContextMenu();
            initSocket();
            pullNotSignedChatFriendMsg();
        });
        //监听发送消息
        layim.on('sendMessage', function (data) {
            if (!socket.channelId) {
                app.errorNotice('长连接已断开，请重新刷新页面');
                return;
            }
            let { mine: self, to } = data;
            if (to.type === 'friend') {
                app.ajax('/chat/friend/msg/send', {
                    friendId: to.id,
                    content: self.content,
                    channelId: socket.channelId
                }, null, 'POST', function (res) {
                    // TODO 发送失败需要做出界面提示
                }, false);
            }
        });

        // 初始化WebSocket
        function initSocket() {
            let onMsgReceived = function (msg) {
                let { msgType, data } = msg;
                if (data.receiverId !== layim.cache().mine.id) {
                    return;
                }
                if (msgType === app.MSG_TYPE.CHAT_FRIEND) {
                    let { friend, groupId } = findFriendFromCache(data.senderId);
                    layim.getMessage({
                        username: friend.username,
                        avatar: friend.avatar,
                        id: friend.id,
                        type: 'friend',
                        content: data.content,
                        timestamp: data.createTime
                    });
                    // 签收消息
                    app.ajax('/chat/friend/msg/sign', { msgIds: data.id }, null, 'POST', null, false);
                } else if (msgType === app.MSG_TYPE.CHAT_NOTIFICATION) {
                    let { senderId, action, payload } = data;
                    if (senderId > 0) {
                        if (action === 'online') {
                            let { friend, groupId } = findFriendFromCache(senderId);
                            let content = `您的好友 ${friend.username} 在 ${app.formatDateTime(data.time)} 上线了！`;
                            app.noticeFromUser(friend.avatar, friend.username, content);
                            layim.setFriendStatus(friend.id, 'online');
                        } else if (action === 'offline') {
                            layim.setFriendStatus(senderId, 'offline');
                        } else if (action === 'delete_friend') {
                            layim.removeList({ id: senderId, type: 'friend' });
                        } else if (action === 'add_friend') {
                            layim.addList({
                                type: 'friend',
                                username: payload.username,
                                avatar: payload.avatar,
                                groupid: payload.groupid,
                                id: senderId,
                                sign: payload.sign
                            });

                        }
                    } else { // senderId为0表示系统消息
                        if (action === 'msg_box') {
                            app.infoNotice("消息盒子有新增消息！");
                            layim.msgbox(payload.count);
                        }
                    }
                }
            };
            socket = new layui.ClientWebSocket({
                channelType: app.CHANNEL_TYPE.CHAT,
                groupId: layim.cache().mine.id,
                onMsgReceived: onMsgReceived.bind(this)
            });
        }

        // 拉取未签收的好友私聊消息
        function pullNotSignedChatFriendMsg() {
            let signMsg = function (res) {
                if (res.data.length === 0) {
                    return;
                }
                // 界面提醒
                for (let msg of res.data) {
                    // 如果在签收之前，对方已经把我删除了，那么friend为空。故不用这种方式获取Friend信息，而由接口返回
                    // let { friend, groupId } = findFriendFromCache(msg.sender.id);
                    let sender = msg.sender;
                    layim.getMessage({
                        username: sender.username,
                        avatar: sender.avatar,
                        id: sender.id,
                        type: 'friend',
                        content: msg.content,
                        timestamp: msg.createTime
                    });
                }
                // 签收消息
                let msgIds = res.data.map(msg => msg.id).join();
                app.ajax('/chat/friend/msg/sign', { msgIds }, null, 'POST', null, false);
            };
            app.ajax('/chat/friend/msg/not_signed', {}, signMsg.bind(this), 'GET', null, false);
        }

        // 发送好友申请
        window.applyFriend = function (userId, username, photo) {
            layim.add({
                type: 'friend',
                username,
                avatar: photo,
                submit: function (group, remark, index) {
                    let params = {
                        receiverId: userId,
                        friendGroupId: parseInt(group),
                        content: remark,
                    };
                    if (params.friendGroupId === -1) {
                        delete params.friendGroupId;
                    }
                    app.ajax('/chat/friend/apply', params, function (res) {
                        layer.msg('好友申请已发送，请等待对方确认', {
                            icon: 1, shade: 0.5
                        }, function () {
                            layer.close(index);
                        });
                    });
                }
            });
        };

        // 同意添加好友
        window.addFriend = function (applyId, user, callback) {
            layim.setFriendGroup({
                type: 'friend',
                username: user.username,
                avatar: user.photo,
                group: layim.cache().friend, // 获取分组
                submit: function (group, index) {
                    let param = {
                        friendApplyId: applyId,
                        friendGroupId: parseInt(group),
                        action: 'agree'
                    };
                    if (param.friendGroupId === -1) { // 未分组
                        delete param.friendGroupId;
                    }
                    app.ajax('/chat/apply/process', param, function (res) {
                        // 将好友追加到主面板
                        layim.addList({
                            type: 'friend',
                            username: user.username,
                            avatar: user.photo,
                            groupid: group, //所在的分组id
                            id: user.id,  //好友ID
                            sign: user.sign //好友签名
                        });
                        layer.msg('已成功添加好友', { icon: 1, shade: 0.5 }, function () {
                            layer.close(index);
                        });
                        callback && callback(res);
                    }, 'POST', function (res) {
                        layer.close(index);
                        callback && callback(res);
                    });
                }
            });
        };

        // 创建好友分组
        function createFriendGroup () {
            admin.open({
                type: 1,
                title: '新建好友分组',
                fixed: true,
                offset: 'auto',
                content: $('#createFriendGroupDialog').html(),
                success: function (layero, dIndex) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    form.on('submit(createFriendGroupSubmit)', function (data) {
                        app.ajax('/chat/friend/group/create', data.field, function (res) {
                            // 先更新缓存
                            layim.cache().friend.push({
                                id: res.data.id,
                                groupname: res.data.groupName,
                                list: []
                            });
                            // 再更新界面
                            var html = laytpl($('#blankFriendGroup').html()).render(res.data);
                            $('ul.layim-list-friend > li:last').before(html);
                            // 重新初始化右键菜单
                            initFriendContextMenu();
                            layer.msg('已成功创建好友分组', { icon: 1, shade: 0.5 }, function () {
                                layer.close(dIndex);
                            });
                        });
                        return false;
                    });
                }
            });
        }

        // 删除好友分组
        function deleteFriendGroup (groupId, groupName) {
            layer.confirm(`确定删除分组 ${groupName} 吗？该组下的所有好友都将移至未分组！`, function (index) {
                app.ajax('/chat/friend/group/delete', {
                    friendGroupId: groupId
                }, function (res) {
                    // 先更新缓存
                    let groups = layim.cache().friend;
                    let groupIdx = groups.findIndex(item => item.id === parseInt(groupId));
                    let unGroup = groups.find(item => item.id === -1).list;
                    unGroup.push(...groups[groupIdx].list);
                    groups.splice(groupIdx, 1);
                    console.log(layim.cache().friend);
                    // 再更新界面
                    let srcGroupTitleDom = $(`h5[data-id="${groupId}"]`);
                    let unGroupTitleDom = $('h5[data-id="-1"]');
                    let friendsDom = srcGroupTitleDom.siblings('ul.layui-layim-list').children('li[data-type="friend"]');
                    let unGroupDom = unGroupTitleDom.siblings('ul.layui-layim-list');
                    if (friendsDom.length > 0 && unGroupDom.children('li.layim-null').length === 1) {
                        unGroupDom.children('li.layim-null').remove(); // 移除未分组中的"该分组下暂无好友"的提示
                    }
                    friendsDom.appendTo(unGroupDom); // 将源分组的好友移动至未分组下
                    unGroupDom.children('li[data-type="friend"]').each(function () {
                        $(this).data('index', groups.length - 1); // 纠正未分组下的好友的DOM节点的data-index
                    });
                    let groupCountDom = unGroupTitleDom.find('.layim-count');
                    let oldCount = groupCountDom.text().trim();
                    groupCountDom.text(parseInt(oldCount) + friendsDom.length); // 修改未分组的好友数量显示
                    srcGroupTitleDom.parent('li').remove(); // 移除源分组
                    // 重新初始化右键菜单
                    initFriendContextMenu();
                    layer.msg('已成功删除好友分组', { icon: 1, shade: 0.5 }, function () {
                        layer.close(index);
                    });
                }, 'POST', function (res) {
                    layer.close(index); // 删除失败的时候，把确认弹窗给关闭掉
                });
            });
        }

        // 删除好友
        function deleteFriend (friendId, friendName) {
            layer.confirm(`确定删除好友 ${friendName} 吗？您也将会从对方好友列表中消失！`, function (index) {
               app.ajax('/chat/friend/delete', { friendId }, function (res) {
                   layim.removeList({ id: friendId, type: 'friend' });
                   layer.msg('已成功删除好友', { icon: 1, shade: 0.5 }, function () {
                       layer.close(index);
                   });
               }, 'POST', function (res) {
                   layer.close(index);
               });
            });
        }

        // 移动好友
        function moveFriendToOtherGroup (friend, targetGroupId, targetGroupName) {
            let params = { friendIds: friend.id, targetFriendGroupId: parseInt(targetGroupId) };
            if (params.targetFriendGroupId === -1) {
                delete params.targetFriendGroupId; // 如果移动至未分组，不需要targetFriendGroupId属性
            }
            layer.confirm(`确定将好友 ${friend.username} 移动至分组 ${targetGroupName} 吗？`, function (index) {
                app.ajax('/chat/friend/move', params, function (res) {
                    layim.removeList({ id: friend.id, type: 'friend' }); // 先移除好友信息
                    // 重新添加好友到指定分组
                    layim.addList({
                        type: 'friend',
                        username: friend.username,
                        avatar: friend.avatar,
                        groupid: targetGroupId + '',  // 目标分组的id
                        id: friend.id, // 好友的用户ID
                        sign: friend.sign  //好友签名
                    });
                    // 重新初始化右键菜单
                    initFriendContextMenu();
                    layer.msg('已成功移动好友', { icon: 1, shade: 0.5 }, function () {
                        layer.close(index);
                    });
                }, 'POST', function (res) {
                    layer.close(index);
                });
            });
        }

        // 初始化右键菜单
        function initFriendContextMenu () {
            let createGroupItem = {
                icon: 'layui-icon layui-icon-add-circle',
                name: '创建分组',
                click: createFriendGroup
            };
            let blankCtxMenus = [{
                icon: 'layui-icon layui-icon-refresh',
                name: '刷新好友列表',
                click: function () {
                    app.errorNotice('暂不支持');
                }
            }, createGroupItem];
            let groupCtxMenus = [createGroupItem, {
                icon: 'layui-icon layui-icon-delete',
                name: '删除分组',
                click: function (ev1, ev2) {
                    let groupTitleDom = $(ev2.currentTarget).children('h5');
                    let groupId = groupTitleDom.data('id');
                    let groupName = groupTitleDom.children('span').text();
                    deleteFriendGroup(groupId, groupName);
                }
            }];
            let subs = layim.cache().friend.map(item => {
                return {
                    id: item.id,
                    name: item.groupname,
                    click: function (ev1, ev2) {
                        let friendName = $(ev2.currentTarget).children('span:first').text();
                        let friendId = $(ev2.currentTarget).data('id');
                        let { friend, groupId: sourceGroupId } = findFriendFromCache(friendId);
                        let targetGroupId = this.id;
                        if (parseInt(sourceGroupId) === parseInt(targetGroupId)) {
                            app.errorNotice('无须移动');
                            return;
                        }
                        moveFriendToOtherGroup(friend, targetGroupId, this.name);
                    }
                }
            });
            let friendCtxMenus = [{
                icon: 'layui-icon layui-icon-delete',
                name: '删除好友',
                click: function (ev1, ev2) {
                    let friendId = $(ev2.currentTarget).data("id");
                    let friendName = $(ev2.currentTarget).children('span:first').text();
                    deleteFriend(friendId, friendName);
                }
            }, {
                icon: 'layui-icon layui-icon-next',
                name: '移动至',
                subs
            }];
            contextMenu.bind('ul.layim-list-friend', blankCtxMenus);
            contextMenu.bind('ul.layim-list-friend > li', groupCtxMenus);
            contextMenu.bind('ul.layui-layim-list > li[data-type="friend"]', friendCtxMenus);
        }

        // 根据用户id查询好友信息
        window.findFriendFromCache = function (friendId) {
            let friend, groupId;
            for (let group of layim.cache().friend) {
                friend = group.list.find(item => item.id === parseInt(friendId));
                if (friend) {
                    groupId = group.id;
                    break;
                }
            }
            return { friend, groupId };
        }
    });
</script>
