<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>用户主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" th:href="@{/admin/assets/libs/layui/css/layui.css}" href="../res/layui/css/layui.css">
    <!--    <link rel="stylesheet" th:href="@{/admin/assets/module/admin.css(v=318)}" href="admin/module/admin.css?v=318"/>-->
    <link rel="stylesheet" th:href="@{/front/res/css/global.css}" href="../res/css/global.css">
    <link rel="stylesheet" th:href="@{/admin/assets/libs/tinymce/plugins/codesample/prism.css}"/>
    <!--  <link rel="stylesheet" th:href="@{/admin/assets/css/iconfont.css}">-->
    <style type="text/css">
        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 13px;
        }

        .alreadyFocus {
            background-color: gray !important;
        }
    </style>
</head>
<body>

<div th:replace="~{front/common/common :: frontHeader(${loginUser})}"></div>

<div class="fly-home fly-panel" style="background-image: url();">
    <img th:src="${information.photo}" alt="贤心">
    <i class="iconfont icon-renzheng" title="Fly社区认证"></i>
    <div class="text-center layui-text" style="margin-top:15px;">
        <h1 th:text="${information.username}" style="display:inline;">
            贤心
        </h1>
        <span class="layui-icon layui-icon-male" style="color:#5d90ef;" th:if="${information.gender.name() eq 'MALE'}"></span>
        <span class="layui-icon layui-icon-female" style="color:#fb7299;" th:if="${information.gender.name() eq 'FEMALE'}"></span>
        <span th:if="${information.gender.name() eq 'SECRET'}"></span>
    </div>


    <p class="fly-home-info" style="margin-top:10px;">
        <i class="iconfont icon-kiss" title="积分"></i><span style="color: #FF7200;"
                                                           th:text="${information.rewardPoints}+' 积分'">66666 积分</span>
        <i class="iconfont icon-shijian"></i><span
            th:text="${#temporals.format(information.registerTime, 'yyyy-MM-dd')} + ' 加入'">2015-6-17 加入</span>
        <i class="iconfont icon-chengshi"></i><span th:text="${information.position}"
                                                    th:if="${information.position}!=null">来自杭州</span>
        <span th:if="${information.position}==null">未知</span>
    </p>

    <p class="fly-home-sign" th:text="${information.description}" th:if="${information.description}!=null">
        （人生仿若一场修行）</p>
    <p class="fly-home-sign" th:if="${information.description}==null">（人生仿若一场修行）</p>

    <p class="fly-home-sign" th.text="'粉丝数：'+${information.fanCount}">粉丝数：0</p>
    <!--未登录点击按钮进入登录界面-->
    <div class="fly-sns" data-user="" th:if="${!isLogin}">
        <a href="javascript:;" class="layui-btn layui-btn-primary fly-imActive" data-type="follow"
           th:href="@{/user/login}">关注</a>
        <a href="javascript:;" class="layui-btn layui-btn-normal fly-imActive" data-type="chat"
           th:href="@{/user/login}">发起会话</a>
    </div>
    <!--已登录且身份为访客-->
    <div class="fly-sns" data-user="" id="visit" th:if="${!isMyself && isLogin}">
        <a href="javascript:;" class="layui-btn layui-btn-primary fly-imActive" name="isFollow"
           data-type="follow" th:if="${!isFocusOn && isLogin}">关注</a>
        <a href="javascript:;" class="layui-btn layui-btn-primary fly-imActive alreadyFocus" name="isFollow"
           data-type="follow" th:if="${isFocusOn && isLogin}">已关注</a>
        <a href="javascript:;" class="layui-btn layui-btn-normal fly-imActive"
           data-type="chat" th:href="@{/user/login}">发起会话</a>
    </div>
    <!--已登录身份为本人-->
    <div class="fly-sns" data-user="" th:if="${isMyself}"></div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6 fly-home-jie">
            <div class="fly-panel">
                <h3 class="fly-panel-title" th:text="${information.username} + ' 所有帖子'">贤心 所有帖子</h3>
                <!--    插入所有提问的内容    -->
                <ul class="jie-row" id="detail">

                </ul>
            </div>
        </div>

        <div class="layui-col-md6 fly-home-da">
            <div class="fly-panel">
                <h3 class="fly-panel-title" th:text="${information.username} + '最近的评论'">贤心 最近的评论</h3>
                <ul class="home-jieda" id="comment">
                    <!--    插入评论的内容      -->
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{front/common/common :: frontFooter}"></div>

<!--帖子模板-->
<script type="text/html" id="demoDetail">
    <li style="height:28px">
        {{# if(d.isHighQuality != 0){ }}
        <span class="layui-bg-red layui-badge">精</span>
        {{# } }}
        <a href="/post/detail/{{d.id}}" class="jie-title">{{d.title}}</a>
        <i>{{d.createTime}}</i>
        <em class="layui-hide-xs">{{d.visitCount}}访问/ {{d.commentCount}}评论</em>
    </li>
</script>

<!--评论模板-->
<script type="text/html" id="demoComment">
    <li>
        <p>
            <span>{{d.createTime}}</span>
            在<a href="/post/detail/{{d.id}}" target="_blank">{{d.postTitle}}</a>中评论：
        </p>
        <div class="home-dacontent ellipsis">
            {{d.content}}
        </div>
    </li>
</script>

<script th:src="@{/admin/assets/libs/layui/layui.js}" src="../res/layui/layui.js"></script>
<script th:src="@{/admin/assets/js/common.js(v=318)}" src="admin/js/common.js?v=318"></script>
<script th:src="@{/admin/assets/css/iconfont.js}" src="/admin/assets/css/iconfont.js"></script>
<script th:inline="javascript">
    layui.cache.page = 'user';
    layui.use(['layer', 'dataGrid', 'element', 'dropdown', 'app'], function () {
        var app = layui.app, $ = layui.jquery;
        var dataGrid = layui.dataGrid;
        var id = [[${information.id}]];
        var url = '/user/home/' + id + '/changeFocus';
        var isFocus = [[${isFocusOn}]];
        $(document).on('click', "[name='isFollow']", function () {
            <!--  isFocus:true:未关注状态，关注行为  !isFocus:已关注状态，取关行为，-->
            app.ajax(url, {isFocusOn: !isFocus}, function () {
                if (!isFocus) {
                    console.log("关注成功");
                    app.successNotice("关注成功");
                    $("a[name='isFollow']").addClass("alreadyFocus");
                    $("a[name='isFollow']").html("已关注");
                    isFocus = true;
                } else {
                    console.log("取消关注成功");
                    app.successNotice("取消关注成功");
                    $("a[name='isFollow']").removeClass("alreadyFocus");
                    $("a[name='isFollow']").html("关注");
                    isFocus = false;
                }
            });
        });


        /*帖子*/
        var insTb = dataGrid.render({
            elem: '#detail',
            templet: '#demoDetail',
            url: '/post/list/' + id,
            response: {
                statusCode: 2000 //规定成功的状态码，默认：0
            },
            parseData: function (res) {
                console.log(res);
                let list = res.data.list.map(item => {
                    item.createTime = app.formatDateTime(item.createTime);
                    return item;
                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": list //解析数据列表
                };
            },
            page: {limit: 5, limits: [5, 10, 20, 30, 40]}
        });

        /*评论*/
        var commentTb = dataGrid.render({
            elem: '#comment',
            templet: '#demoComment',
            url: '/comment/list/' + id,
            response: {
                statusCode: 2000 //规定成功的状态码，默认：0
            },
            parseData: function (res) {
                console.log(res);
                let list = res.data.list.map(item => {
                    item.createTime = app.formatDateTime(item.createTime);
                    return item;
                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": list //解析数据列表
                };
            },
            page: {limit: 5, limits: [5, 10, 20, 30, 40]}
        });
    });

    layui.cache.user = {
        username: '游客'
        , uid: -1
        , avatar: '@{/front/res/images/avatar/00.jpg}'
        , experience: 83
        , sex: '男'
    };
</script>

</body>
</html>
