<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>帐号设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" th:href="@{/front/res/layui/css/layui.css}" href="../res/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/front/res/css/global.css}" href="../res/css/global.css">
    <link rel="stylesheet" th:href="@{/admin/assets/module/admin.css(v=318)}" href="admin/module/admin.css?v=318">
    <link rel="stylesheet" th:href="@{/front/res/css/userInfo.css}" href="../res/css/userInfo.css">
    <style>
        @font-face {
            font-family: "iconfont"; /* Project id 2609590 */
            src: url('//at.alicdn.com/t/font_2609590_zyubzf6yeve.woff2?t=1624263596202') format('woff2'),
            url('//at.alicdn.com/t/font_2609590_zyubzf6yeve.woff?t=1624263596202') format('woff'),
            url('//at.alicdn.com/t/font_2609590_zyubzf6yeve.ttf?t=1624263596202') format('truetype');
        }

        .iconfont {
            font-family: "iconfont" !important;
            font-size: 26px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon-baiduwangpan:before {
            content: "\e603";
        }

        .icon-QQ:before {
            content: "\e602";
        }

        .icon-Gitee:before {
            content: "\e601";
        }
    </style>
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="../res/images/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
            </li>
            <li class="layui-nav-item">
                <a href="../case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
            </li>
            <li class="layui-nav-item">
                <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
            </li>
        </ul>

        <ul class="layui-nav fly-nav-user">
            <!-- 登入后的状态 -->
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs">贤心</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
                    <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="../user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                    <dd><a href="../user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="home">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="index">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="set">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="message">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li lay-id="info">我的资料</li>
                <li lay-id="avatar">头像</li>
                <li lay-id="pass">密码</li>
                <li class="layui-this" lay-id="bind">帐号绑定</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item">
                    <form method="post">
                        <div class="layui-form-item">
                            <label for="L_email" class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                            <input type="text" id="L_email" name="email" required lay-verify="email" autocomplete="off" value="" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">如果您在邮箱已激活的情况下，变更了邮箱，需<a href="activate.html" style="font-size: 12px; color: #4f99cf;">重新验证邮箱</a>。</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_username" class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_username" name="username" required lay-verify="required" autocomplete="off" value="" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="radio" name="sex" value="0" checked title="男">
                                    <input type="radio" name="sex" value="1" title="女">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_city" class="layui-form-label">城市</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_city" name="city" autocomplete="off" value="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="L_sign" class="layui-form-label">签名</label>
                            <div class="layui-input-block">
                                <textarea placeholder="随便写些什么刷下存在感" id="L_sign"  name="sign" autocomplete="off" class="layui-textarea" style="height: 80px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <div class="avatar-add">
                            <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                            <button type="button" class="layui-btn upload-img">
                                <i class="layui-icon">&#xe67c;</i>上传头像
                            </button>
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                            <span class="loading"></span>
                        </div>
                    </div>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item">
                    <form action="/user/repass" method="post">
                        <div class="layui-form-item">
                            <label for="L_nowpass" class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="L_nowpass" name="nowpass" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_pass" class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="L_repass" class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="L_repass" name="repass" required lay-verify="required" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>

                <div class="layui-form layui-form-pane layui-tab-item layui-show" style="padding-bottom: 20px;">
                    <div class="user-bd-list layui-text">
                        <div id="phone" class="user-bd-list-item">
                            <div class="user-bd-list-img">
                                <i class="iconfont icon-QQ"
                                   style="color:#3492ed;font-size: 48px;"></i>
                            </div>
                            <div th:if="${user.getPhone()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">密保手机</div>
                                <div class="user-bd-list-text">已绑定手机号码</div>
                                <a href="javascript:;" class="user-bd-list-oper" name="bindPhone">修改</a>
                            </div>
                            <div th:unless="${user.getPhone()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">密保手机</div>
                                <div class="user-bd-list-text">当前未绑定手机号码</div>
                                <a href="javascript:;" class="user-bd-list-oper" name="bindPhone">绑定</a>
                            </div>
                        </div>
                        <div id="email" class="user-bd-list-item">
                            <div class="user-bd-list-img">
                                <i class="iconfont icon-QQ"
                                   style="color:#3492ed;font-size: 48px;"></i>
                            </div>
                            <div th:if="${user.getEmail()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">密保邮箱</div>
                                <div class="user-bd-list-text">已绑定邮箱</div>
                                <a class="user-bd-list-oper" name="bindEmail">修改</a>
                            </div>
                            <div th:unless="${user.getEmail()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">密保邮箱</div>
                                <div class="user-bd-list-text">当前未绑定邮箱</div>
                                <a class="user-bd-list-oper" name="bindEmail">绑定</a>
                            </div>
                        </div>
                        <div id="qq" class="user-bd-list-item">
                            <div class="user-bd-list-img">
                                <i class="iconfont icon-QQ"
                                    style="color:#3492ed;font-size: 48px;"></i>
                            </div>
                            <div th:if="${user.getQqId()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">绑定QQ</div>
                                <div class="user-bd-list-text">已绑定QQ账号</div>
                                <a class="user-bd-list-oper" name="UnbundlingQQ">解绑</a>
                            </div>
                            <div th:unless="${user.getQqId()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">绑定QQ</div>
                                <div class="user-bd-list-text">当前未绑定QQ账号</div>
                                <a class="user-bd-list-oper" th:href="@{/user/oauth/qq/authorize}">绑定</a>
                            </div>
                        </div>
                        <div id="gitee" class="user-bd-list-item">
                            <div class="user-bd-list-img">
                                <i class="iconfont icon-Gitee"
                                   style="color:#ac0719;font-size: 48px;"></i>
                            </div>
                            <div th:if="${user.getGiteeId()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">绑定gitee</div>
                                <div class="user-bd-list-text">已绑定gitee账号</div>
                                <a class="user-bd-list-oper" name="UnbundlingGitee">解绑</a>
                            </div>
                            <div th:unless="${user.getGiteeId()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">绑定gitee</div>
                                <div class="user-bd-list-text">当前未绑定gitee账号</div>
                                <a class="user-bd-list-oper" th:href="@{/user/oauth/gitee/authorize}">绑定</a>
                            </div>
                        </div>
                        <div id="baidu" class="user-bd-list-item">
                            <div class="user-bd-list-img">
                                <i class="iconfont icon-baiduwangpan"
                                    style="color:#3492ed;font-size: 48px;"></i>
                            </div>
                            <div th:if="${user.getBaiduId()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">绑定百度</div>
                                <div class="user-bd-list-text">已绑定百度账号</div>
                                <a class="user-bd-list-oper" name="UnbundlingBaidu">解绑</a>
                            </div>
                            <div th:unless="${user.getBaiduId()}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">绑定百度</div>
                                <div class="user-bd-list-text">当前未绑定绑定百度账号</div>
                                <a class="user-bd-list-oper" th:href="@{/user/oauth/baidu/authorize}">绑定</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>
<!-- 绑定手机弹窗 -->
<script type="text/html" id="PhoneDialog">
    <form id="PhoneForm" lay-filter="PhoneForm" class="layui-form model-form" autocomplete="off">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">账号:</label>
            <div class="layui-input-block">
                <input name="oldEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入账号"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">密码:</label>
            <div class="layui-input-block">
                <input name="checkPassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入密码"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">手机号:</label>
            <div class="layui-input-block">
                <input name="newPhone" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入手机号"/>
            </div>
        </div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" lay-filter="PhoneSubmit" lay-submit>确定</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<!-- 绑定手机弹窗 -->
<script type="text/html" id="EmailDialog">
    <form id="EmailForm" lay-filter="EmailForm" class="layui-form model-form" autocomplete="off">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">账号:</label>
            <div class="layui-input-block">
                <input name="oldEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入账号"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">密码:</label>
            <div class="layui-input-block">
                <input name="checkPassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入密码"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">新邮箱:</label>
            <div class="layui-input-block">
                <input name="newEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required|email"
                       required placeholder="请输入邮箱"/>
            </div>
        </div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" lay-filter="PhoneSubmit" lay-submit>确定</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<!-- 解绑弹窗 -->
<script type="text/html" id="UnbundlingDialog">
    <form id="UnbundlingForm" lay-filter="UnbundlingForm" class="layui-form model-form" autocomplete="off">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">账号:</label>
            <div class="layui-input-block">
                <input name="oldEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入账号"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">密码:</label>
            <div class="layui-input-block">
                <input name="checkPassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入密码"/>
            </div>
        </div>
        <div class="layui-form-item text-center">
            <button class="layui-btn" lay-filter="UnbundlingSubmit" lay-submit>确定</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<script src="admin/libs/layui/layui.all.js" th:src="@{/admin/assets/libs/layui/layui.all.js}"></script>
<script src="admin/js/common.js?v=318" th:src="@{/admin/assets/js/common.js(v=318)}"></script>

<script th:inline="javascript">
    layui.use(['layer', 'form', 'admin', 'app'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var app = layui.app;

        var msg = app.getUrlParam("msg");
        if (app.isNotBlank(msg)) {
            if (msg == "6104") {
                app.errorNotice("用户未登录");
            }
            if (msg == "6206") {
                app.errorNotice("该社交账号已被其他账号绑定");
            }
            if (msg == "2001") {
                app.successNotice("操作成功");
            }
        }

        $("a[name=bindPhone]").click(function() {
            admin.open({
                type: 1,
                title: '绑定手机号码',
                area: "600px",
                content: $('#PhoneDialog').html(),
                success: function (layero, dIndex) {
                    form.on('submit(PhoneSubmit)', function (data) {
					
                        var resultData = {};
                        resultData.oldEmail = data.field.oldEmail;
                        resultData.checkPassword = data.field.checkPassword;
                        resultData.newPhone = data.field.newPhone;

                        var url = '/user/setting/changeUserPhone';
                        app.ajax(url, resultData, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function() {
                                location.href = '/user/setting/set';
                            }, 1000);
                        });
                        return false;
                    });
                },
            });
        });
        $("a[name=bindEmail]").click(function() {
            admin.open({
                type: 1,
                title: '绑定邮箱',
                area: "600px",
                content: $('#EmailDialog').html(),
                success: function (layero, dIndex) {
                    form.on('submit(PhoneSubmit)', function (data) {

                        var resultData = {};
                        resultData.oldEmail = data.field.oldEmail;
                        resultData.checkPassword = data.field.checkPassword;
                        resultData.newEmail = data.field.newEmail;

                        var url = '/user/setting/changeUserEmail';
                        app.ajax(url, resultData, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function() {
                                location.href = '/user/setting/set';
                            }, 1000);
                        });
                        return false;
                    });
                },
            });
        });
        $("a[name=UnbundlingQQ]").click(function() {
            admin.open({
                type: 1,
                title: '解绑QQ账号',
                area: "600px",
                content: $('#UnbundlingDialog').html(),
                success: function (layero, dIndex) {
                    form.on('submit(UnbundlingSubmit)', function (data) {
                        var resultData = {};
                        resultData.oldEmail = data.field.oldEmail;
                        resultData.checkPassword = data.field.checkPassword;

                        var url = '/user/setting/UnbundlingQQ';
                        app.ajax(url, resultData, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function() {
                                location.href = '/user/setting/set';
                            }, 1000);
                        });
                        return false;
                    });
                },
            });
        });
        $("a[name=UnbundlingGitee]").click(function() {
            admin.open({
                type: 1,
                title: '解绑Gitee账号',
                area: "600px",
                content: $('#UnbundlingDialog').html(),
                success: function (layero, dIndex) {
                    form.on('submit(UnbundlingSubmit)', function (data) {
                        var resultData = {};
                        resultData.oldEmail = data.field.oldEmail;
                        resultData.checkPassword = data.field.checkPassword;

                        var url = '/user/setting/UnbundlingGitee';
                        app.ajax(url, resultData, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function() {
                                location.href = '/user/setting/set';
                            }, 1000);
                        });
                        return false;
                    });
                },
            });
        });
        $("a[name=UnbundlingBaidu]").click(function() {
            admin.open({
                type: 1,
                title: '解绑百度账号',
                area: "600px",
                content: $('#UnbundlingDialog').html(),
                success: function (layero, dIndex) {
                    form.on('submit(UnbundlingSubmit)', function (data) {
                        var resultData = {};
                        resultData.oldEmail = data.field.oldEmail;
                        resultData.checkPassword = data.field.checkPassword;

                        var url = '/user/setting/UnbundlingBaidu';
                        app.ajax(url, resultData, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function() {
                                location.href = '/user/setting/set';
                            }, 1000);
                        });
                        return false;
                    });
                },
            });
        });
    });

</script>
</body>
</html>