<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>帐号设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" th:href="@{/admin/assets/libs/layui/css/layui.css}" href="../res/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/admin/assets/module/admin.css(v=318)}" href="admin/assets/module/admin.css?v=318">
    <link rel="stylesheet" th:href="@{/front/res/css/global.css}" href="../res/css/global.css">
    <!--    <link rel="stylesheet" th:href="@{/front/res/css/userInfo.css}" href="../res/css/userInfo.css">-->
    <style>
        body {
            background: unset;
        }

        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }

        /* 用户信息 */
        .user-info-head {
            width: 120px;
            height: 120px;
            line-height: 120px;
            position: relative;
            /*display: inline-block;*/
            border-radius: 100%;
            border: 4px solid #fff;
            box-shadow: 0 0 12px #bababa;
            overflow: hidden;
            cursor: pointer;
            margin: 0 auto 16px;
        }

        .user-info-head img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .user-info-head:hover:after {
            content: '\e681';
            position: absolute;
            text-align: center;
            line-height: 120px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.3);
            background-size: 100% 100%;
            font-size: 28px;
            padding-top: 2px;
            font-style: normal;
            font-family: layui-icon;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .user-info-list-item {
            position: relative;
            padding-bottom: 8px;
        }

        .user-info-list-item > .layui-icon {
            position: absolute;
        }

        .user-info-list-item > p {
            padding-left: 30px;
        }

        .layui-line-dash {
            border-bottom: 1px dashed #ccc;
            margin: 15px 0;
        }

        /* 基本信息 */
        #userInfoForm .layui-form-item {
            margin-bottom: 25px;
        }

        /* 账号绑定 */
        .user-bd-list-item {
            padding: 14px 60px 14px 10px;
            border-bottom: 1px solid #e8e8e8;
            position: relative;
        }

        .user-bd-list-item .user-bd-list-lable {
            color: #333;
            margin-bottom: 4px;
        }

        .user-bd-list-item .user-bd-list-oper {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -8px;
            cursor: pointer;
        }

        .user-bd-list-item .user-bd-list-img {
            width: 48px;
            height: 48px;
            line-height: 48px;
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -24px;
        }

        .user-bd-list-item .user-bd-list-img + .user-bd-list-content {
            margin-left: 68px;
        }

        .layui-form-item .layui-input-inline {
            width: auto;
        }
    </style>
</head>
<body>

<div th:replace="~{front/common/common :: frontHeader(${loginUser})}"></div>

<div class="layui-container fly-marginTop fly-user-main">
    <div th:replace="~{front/common/common :: userCenterSidebar('set')}"></div>
    <div th:replace="~{front/common/common :: userCenterHideDom}"></div>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li lay-id="info" class="layui-this">我的资料</li>
                <li lay-id="avatar">头像</li>
                <li lay-id="pass">密码</li>
                <li lay-id="bind">帐号绑定</li>
                <li>退出登录</li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <!-- 修改个人信息的选项卡 -->
                <div class="layui-form layui-form-pane layui-tab-item  layui-show">
                    <form method="post">
                        <div class="layui-form-item">
                            <label for="username" class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="username" maxlength="16"
                                       required lay-verify="required" autocomplete="off" value="王小明"
                                       class="layui-input" th:value="${user.username}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="margin-right: 16px;">性别</label>
                            <div class="layui-input-inline" style="max-width: 280px;">
                                <input th:checked="${user.gender == 0}" type="radio" name="gender" value="0" checked
                                       title="男">
                                <input th:checked="${user.gender == 1}" type="radio" name="gender" value="1" title="女">
                                <input th:checked="${user.gender == 2}" type="radio" name="gender" value="2" title="保密">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="position" class="layui-form-label">位置</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" placeholder="请选择城市" th:value="${user.position}"
                                       value="广东省/肇庆市/封开县"
                                       name="position" id="position" data-toggle="city-picker" style="max-width: 20%;"/>
                            </div>
                            <!-- 一定要加 type="button"，否则会提交表单 -->
                            <button type="button" class="layui-btn layui-btn-primary" onclick="resetPosition()">重置
                            </button>
                        </div>
                        <div class="layui-form-item">
                            <label for="birth" class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input id="birth" name="birth" th:value="${user.birth}" type="text"
                                       class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label for="description" class="layui-form-label">签名</label>
                            <div class="layui-input-block">
                                <textarea th:text="${user.description}"
                                          placeholder="随便写些什么刷下存在感" id="description" name="description"
                                          autocomplete="off" class="layui-textarea" style="height: 120px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="updateInfo" lay-submit>确认修改</button>
                        </div>
                    </form>
                </div>

                <!-- 修改头像的选项卡 -->
                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <div class="user-info-head layui-circle" id="userInfoHead">
                            <!--                            <img th:src="@{/admin/assets/images/bg-login.jpg}" alt="用户头像"/>-->
                            <img th:src="${user.photo}"
                                 src="https://webchat-ysq.oss-cn-shenzhen.aliyuncs.com/images/e5914597f0d24ef9a3399cda535518a8.png?timestamp=1625211664578"
                                 alt="用户头像"/>
                        </div>
                        <p class="text-center">建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                        <!--                        <div class="avatar-add">-->
                        <!--                            <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>-->
                        <!--                            <button type="button" class="layui-btn upload-img">-->
                        <!--                                <i class="layui-icon">&#xe67c;</i>上传头像-->
                        <!--                            </button>-->
                        <!--                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">-->
                        <!--                            <span class="loading"></span>-->
                        <!--                        </div>-->
                    </div>
                </div>

                <!-- 修改密码的选项卡 -->
                <div class="layui-form layui-form-pane layui-tab-item">
                    <form action="/user/repass" method="post">
                        <div class="layui-form-item">
                            <label for="emailAccount" class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" id="emailAccount" name="email" required
                                       lay-verify="required|email" autocomplete="off"
                                       class="layui-input layui-form-required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="oldPassword" class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="oldPassword" name="password" required
                                       lay-verify="required" autocomplete="off" class="layui-input layui-form-required">
                            </div>
                            <div class="layui-form-mid layui-word-aux">忘记密码请联系管理员重置，暂不支持邮箱验证修改</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="newPassword" class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="newPassword" name="newPassword" required
                                       lay-verify="required|newPassword" autocomplete="off"
                                       class="layui-input layui-form-required">
                            </div>
                            <div class="layui-form-mid layui-word-aux">密码必须3到12个字符，且不能出现空格</div>
                        </div>
                        <div class="layui-form-item">
                            <label for="confirmPassword" class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="confirmPassword" name="rePassword"
                                       required lay-verify="required|rePassword" autocomplete="off"
                                       class="layui-input layui-form-required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" key="set-mine" lay-filter="updatePassword" lay-submit>确认修改
                            </button>
                        </div>
                    </form>
                </div>

                <!-- 账号绑定的选项卡 -->
                <div class="layui-form layui-form-pane layui-tab-item" style="padding-bottom: 20px;">
                    <div class="user-bd-list layui-text">
                        <div id="email" class="user-bd-list-item">
                            <div class="user-bd-list-img">
                                <i class=""></i>
                                <i style="color:#3492ed;font-size: 48px;">
                                    <svg class="icon svg-icon" aria-hidden="true">
                                        <use xlink:href="#icon-youxiang"></use>
                                    </svg>
                                </i>
                            </div>
                            <div th:if="${!#strings.isEmpty(user.email)}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">密保邮箱</div>
                                <div class="user-bd-list-text">已绑定邮箱：[[${user.email}]]</div>
                                <a class="user-bd-list-oper" name="bindEmail" id="123">修改</a>
                            </div>
                            <div th:if="${#strings.isEmpty(user.email)}" class="user-bd-list-content">
                                <div class="user-bd-list-lable">密保邮箱</div>
                                <div class="user-bd-list-text">当前未绑定邮箱。只有绑定邮箱后才可以绑定或解绑第三方账号！</div>
                                <a class="user-bd-list-oper" name="bindEmail">绑定</a>
                            </div>
                        </div>
                        <div th:if="${!#strings.isEmpty(user.email)}">
                            <div id="phone" class="user-bd-list-item">
                                <div class="user-bd-list-img">
                                    <i style="color:#3492ed;font-size: 48px;">
                                        <svg class="icon svg-icon" aria-hidden="true">
                                            <use xlink:href="#icon-lujing141"></use>
                                        </svg>
                                    </i>
                                </div>
                                <div th:if="${!#strings.isEmpty(user.phone)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">密保手机</div>
                                    <div class="user-bd-list-text">已绑定手机号码：[[${user.phone}]]</div>
                                    <a class="user-bd-list-oper" name="bindPhone">修改</a>
                                </div>
                                <div th:if="${#strings.isEmpty(user.phone)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">密保手机</div>
                                    <div class="user-bd-list-text">当前未绑定手机号码</div>
                                    <a class="user-bd-list-oper" name="bindPhone">绑定</a>
                                </div>
                            </div>
                            <div id="qq" class="user-bd-list-item">
                                <div class="user-bd-list-img">
                                    <i style="font-size: 48px;">
                                        <svg class="icon svg-icon" aria-hidden="true">
                                            <use xlink:href="#icon-QQ"></use>
                                        </svg>
                                    </i>
                                </div>
                                <div th:if="${!#strings.isEmpty(user.qqId)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">绑定QQ</div>
                                    <div class="user-bd-list-text">已绑定QQ账号</div>
                                    <a class="user-bd-list-oper" name="Unbundling" id="UnbundlingQQ">解绑</a>
                                </div>
                                <div th:if="${#strings.isEmpty(user.qqId)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">绑定QQ</div>
                                    <div class="user-bd-list-text">当前未绑定QQ账号</div>
                                    <a class="user-bd-list-oper" th:href="@{/user/oauth/qq/authorize}">绑定</a>
                                </div>
                            </div>
                            <div id="gitee" class="user-bd-list-item">
                                <div class="user-bd-list-img">
                                    <i style="font-size: 48px;">
                                        <svg class="icon svg-icon" aria-hidden="true">
                                            <use xlink:href="#icon-Gitee"></use>
                                        </svg>
                                    </i>
                                </div>
                                <div th:if="${!#strings.isEmpty(user.giteeId)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">绑定gitee</div>
                                    <div class="user-bd-list-text">已绑定gitee账号</div>
                                    <a class="user-bd-list-oper" name="Unbundling" id="UnbundlingGitee">解绑</a>
                                </div>
                                <div th:if="${#strings.isEmpty(user.giteeId)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">绑定gitee</div>
                                    <div class="user-bd-list-text">当前未绑定gitee账号</div>
                                    <a class="user-bd-list-oper" th:href="@{/user/oauth/gitee/authorize}">绑定</a>
                                </div>
                            </div>
                            <div id="baidu" class="user-bd-list-item">
                                <div class="user-bd-list-img">
                                    <i style="font-size: 48px;">
                                        <svg class="icon svg-icon" aria-hidden="true">
                                            <use xlink:href="#icon-baiduwangpan"></use>
                                        </svg>
                                    </i>
                                </div>
                                <div th:if="${!#strings.isEmpty(user.baiduId)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">绑定百度</div>
                                    <div class="user-bd-list-text">已绑定百度账号</div>
                                    <a class="user-bd-list-oper" name="Unbundling" id="UnbundlingBaidu">解绑</a>
                                </div>
                                <div th:if="${#strings.isEmpty(user.baiduId)}" class="user-bd-list-content">
                                    <div class="user-bd-list-lable">绑定百度</div>
                                    <div class="user-bd-list-text">当前未绑定百度账号</div>
                                    <a class="user-bd-list-oper" th:href="@{/user/oauth/baidu/authorize}">绑定</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 退出登录的选项卡 -->
                <div class="layui-form layui-form-pane layui-tab-item">
                    <div class="layui-form-item">
                        <button class="layui-btn" onclick="logout()">退出登录</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="~{front/common/common :: frontFooter}"></div>

<!-- 绑定手机弹窗 -->
<script type="text/html" id="PhoneDialog">
    <form id="PhoneForm" lay-filter="PhoneForm" class="layui-form model-form" autocomplete="off">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">账号:</label>
            <div class="layui-input-block">
                <input name="oldEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required|email"
                       required placeholder="请输入账号"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">密码:</label>
            <div class="layui-input-block">
                <input name="checkPassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入密码"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">手机号:</label>
            <div class="layui-input-block">
                <input name="newPhone" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入手机号"/>
            </div>
        </div>
        <div class="layui-form-item" style="float: right;">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="PhoneSubmit" lay-submit>确定</button>
        </div>
    </form>
</script>
<!-- 绑定邮箱弹窗 -->
<script type="text/html" id="EmailDialog">
    <form id="EmailForm" lay-filter="EmailForm" class="layui-form model-form" autocomplete="off">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">账号:</label>
            <div class="layui-input-block">
                <input name="oldEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required|email"
                       required placeholder="请输入账号"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">密码:</label>
            <div class="layui-input-block">
                <input name="checkPassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入密码"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">新邮箱:</label>
            <div class="layui-input-block">
                <input name="newEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required|email"
                       required placeholder="请输入邮箱"/>
            </div>
        </div>
        <div class="layui-form-item" style="float: right;">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="EmailSubmit" lay-submit>确定</button>
        </div>
    </form>
</script>
<!-- 第一次设置邮箱密码弹窗 -->
<script type="text/html" id="FirstSetDialog">
    <form id="FirstSetForm" lay-filter="FirstSetForm" class="layui-form model-form" autocomplete="off">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">邮箱:</label>
            <div class="layui-input-block">
                <input name="oldEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required|email"
                       required placeholder="请输入邮箱"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">密码:</label>
            <div class="layui-input-block">
                <input name="checkPassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入密码"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">确认密码:</label>
            <div class="layui-input-block">
                <input name="rePassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入确认密码"/>
            </div>
        </div>
        <div class="layui-form-item" style="float: right;">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="EmailSubmit" lay-submit>确定</button>
        </div>
    </form>
</script>
<!-- 解绑弹窗 -->
<script type="text/html" id="UnbundlingDialog">
    <form id="UnbundlingForm" lay-filter="UnbundlingForm" class="layui-form model-form" autocomplete="off">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">账号:</label>
            <div class="layui-input-block">
                <input name="oldEmail" value="" class="layui-input"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入账号"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">密码:</label>
            <div class="layui-input-block">
                <input name="checkPassword" value="" class="layui-input" type="password"
                       lay-verType="tips" lay-verify="required"
                       required placeholder="请输入密码"/>
            </div>
        </div>
        <div class="layui-form-item" style="float: right;">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="UnbundlingSubmit" lay-submit>确定</button>
        </div>
    </form>
</script>
<script src="admin/libs/layui/layui.all.js" th:src="@{/admin/assets/libs/layui/layui.all.js}"></script>
<script src="admin/js/common.js?v=318" th:src="@{/admin/assets/js/common.js(v=318)}"></script>
<script src="admin/assets/css/iconfont.js" th:src="@{/admin/assets/css/iconfont.js}"></script>
<script th:src="@{/admin/assets/module/cascader/citys-data.js}"
        src="../../../assets/module/cascader/citys-data.js"></script>
<script th:inline="javascript">
    layui.use(['layer', 'form', 'admin', 'citypicker', 'app'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var app = layui.app;
        var citypicker = layui.citypicker;
        var laydate = layui.laydate;
        //后端返回的提示码msg，显示信息两秒后刷新去除url中的信息
        var code = app.getUrlParam("code");
        var msg = app.getUrlParam("msg");
        var oldUrl = '/user/center/set';

        if (code && msg) {
            if (code === '2000') {
                app.successNotice('绑定成功');
            } else {
                app.errorNotice(msg);
            }
            setTimeout(function () {
                location.href = oldUrl;
            }, 2000);
        }

        window.logout = function () {
            window.location.href = '/user/logout';
            localStorage.removeItem('user');
        };

        // 监听个人信息修改的表单提交
        form.on("submit(updateInfo)", function (obj) {
            console.log(obj);
            app.ajax('/user/center/updateInfo', obj.field, function (res) {
                app.successNotice('修改个人信息成功');
            });
            return false;
        });


        form.verify({
            newPassword: [
                /^[\S]{3,12}$/
                , '密码必须3到12位，且不能出现空格'
            ],
            rePassword: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (value !== $("input[name=newPassword]").val()) {
                    return '新秘密和确认密码不一致';
                }
            }
        });
        // 监听秘密修改的表单的提交
        form.on("submit(updatePassword)", function (obj) {
            console.log(obj);
            app.ajax('/user/center/updatePassword', obj.field, function (res) {
                app.successNotice('修改密码成功');
                obj.form.reset();
                $(obj.elem)
            });
            return false;
        });

        // 重置省市区
        window.resetPosition = function () {
            $('#position').citypicker('reset');
            console.log("-------");
            return false;
        };

        //执行一个laydate实例
        laydate.render({
            elem: '#birth', //指定元素
            max: 0
        });

        $('#userInfoHead').click(function () {
            admin.cropImg({
                imgSrc: $('#userInfoHead>img').attr('src'),
                checkCrossOrigin: false,
                onCrop: function (res) {
                    // base64
                    console.log(res); //https://www.zhihu.com/question/60593079/answer/247418738
                    $('#userInfoHead>img').attr('src', res);
                    $('.layui-layout-admin>.layui-header .layui-nav img.layui-nav-img').attr('src', res);

                    app.ajax('/user/center/uploadFaceImage', {
                        imageBase64: res
                    }, function (res) {
                        app.successNotice('上传头像成功');
                    });
                }
            });
        });

        //手机绑定或修改操作
        $("a[name=bindPhone]").click(function () {
            admin.open({
                type: 1,
                title: '绑定手机号码',
                area: "400px",
                offset: 'auto',
                content: $('#PhoneDialog').html(),
                success: function (layero, dIndex) {
                    form.on('submit(PhoneSubmit)', function (data) {

                        var resultData = {};
                        resultData.oldEmail = data.field.oldEmail;
                        resultData.checkPassword = data.field.checkPassword;
                        resultData.newPhone = data.field.newPhone;

                        var url = '/user/center/changeUserPhone';
                        app.ajax(url, resultData, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function () {
                                location.href = oldUrl;
                            }, 2000);
                        });
                        return false;
                    });
                },
            });
        });

        //邮箱绑定或第一次设置操作
        $("a[name=bindEmail]").click(function () {
            var email = [[${user.email}]];
            var dialog;
            var title;
            if (app.isNotBlank(email)) {
                dialog = $('#EmailDialog'); // 修改邮箱 oldEmail checkPassword newEmail
                title = "修改邮箱";
            } else {
                dialog = $('#FirstSetDialog'); // 第一次设置邮箱和密码 oldEmail  checkPassword rePassword
                title = "设置邮箱和密码";
                app.infoNotice("请设置邮箱和密码");
            }
            admin.open({
                type: 1,
                title: title,
                area: "400px",
                offset: 'auto',
                content: dialog.html(),
                success: function (layero, dIndex) {
                    form.on('submit(EmailSubmit)', function (data) {

                        // var resultData = {};
                        // resultData.oldEmail = data.field.oldEmail;
                        // resultData.checkPassword = data.field.checkPassword;
                        // resultData.rePassword = data.field.rePassword;
                        // resultData.newEmail = data.field.newEmail;
                        // console.log(data.field);

                        var url = '/user/center/changeUserEmail';
                        app.ajax(url, data.field, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function () {
                                location.href = oldUrl;
                            }, 2000);
                        });
                        return false;
                    });
                },
            });
        });

        //第三方账号解绑操作
        $("a[name=Unbundling]").click(function () {
            var id = $(this).attr('id');
            app.infoNotice("请谨慎解绑账号");
            var title = '';
            var poFileId = "";
            if (id == "UnbundlingQQ") {
                title = '解绑QQ账号';
                poFile = "qq";
            } else if (id == "UnbundlingGitee") {
                title = '解绑Gitee账号';
                poFile = "gitee";
            } else {
                title = '解绑百度账号';
                poFile = "baidu";
            }
            admin.open({
                type: 1,
                title: title,
                area: "400px",
                offset: 'auto',
                content: $('#UnbundlingDialog').html(),
                success: function (layero, dIndex) {
                    form.on('submit(UnbundlingSubmit)', function (data) {
                        var resultData = {};
                        resultData.oldEmail = data.field.oldEmail;
                        resultData.checkPassword = data.field.checkPassword;
                        resultData.poFile = poFile;
                        var url = '/user/center/Unbundling';
                        app.ajax(url, resultData, function (res) {
                            app.successNotice(res.msg);
                            setTimeout(function () {
                                location.href = oldUrl;
                            }, 2000);
                        });
                        return false;
                    });
                },
            });
        });
    });

</script>
</body>
</html>
