<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ysqorz.forum.dao.ChatFriendMapper">
    <resultMap id="BaseResultMap" type="top.ysqorz.forum.po.ChatFriend">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="my_id" jdbcType="INTEGER" property="myId"/>
        <result column="friend_id" jdbcType="INTEGER" property="friendId"/>
        <result column="friend_group_id" jdbcType="INTEGER" property="friendGroupId"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <update id="unGroupFriendsByGroupId">
        update chat_friend set friend_group_id = #{targetFriendGroupId} where friend_group_id = #{sourceFriendGroupId}
    </update>
    <update id="updateGroupOfFriends">
        update chat_friend set friend_group_id = #{targetFriendGroupId} where my_id = #{myId}
        and friend_id in
        <foreach collection="friendIdSet" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectChatFriendsWithoutGroup" resultType="top.ysqorz.forum.dto.resp.chat.ChatListDTO$ChatFriendDTO">
        select u.id, username, alias, photo as avatar, description as sign
        from chat_friend as cf
        left join user as u on cf.friend_id = u.id
        where my_id = #{myId} and isnull(friend_group_id)
    </select>
</mapper>
