<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ysqorz.forum.dao.CommentNotificationMapper">
  <resultMap id="BaseResultMap" type="top.ysqorz.forum.po.CommentNotification">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
    <result column="receiver_id" jdbcType="INTEGER" property="receiverId" />
    <result column="comment_type" jdbcType="TINYINT" property="commentType" />
    <result column="replied_id" jdbcType="INTEGER" property="repliedId" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_read" jdbcType="TINYINT" property="isRead" />
  </resultMap>
</mapper>