<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ysqorz.forum.dao.FollowNotificationMapper">
  <resultMap id="BaseResultMap" type="top.ysqorz.forum.po.FollowNotification">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="follow_id" jdbcType="INTEGER" property="followId" />
    <result column="is_read" jdbcType="TINYINT" property="isRead" />
  </resultMap>
</mapper>