<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.ysqorz.forum.dao.PostMapper">
    <resultMap id="BaseResultMap" type="top.ysqorz.forum.po.Post">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="creator_id" jdbcType="INTEGER" property="creatorId"/>
        <result column="topic_id" jdbcType="INTEGER" property="topicId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime"/>
        <result column="visit_count" jdbcType="INTEGER" property="visitCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="collect_count" jdbcType="INTEGER" property="collectCount"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="is_high_quality" jdbcType="TINYINT" property="isHighQuality"/>
        <result column="is_locked" jdbcType="TINYINT" property="isLocked"/>
        <result column="top_weight" jdbcType="INTEGER" property="topWeight"/>
        <result column="last_comment_time" jdbcType="TIMESTAMP" property="lastCommentTime"/>
        <result column="visibility_type" jdbcType="TINYINT" property="visibilityType"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <select id="selectCountByTodayTopic" resultType="java.lang.Integer">
        select count(*)
        from post
        where create_time >= curdate()
          and topic_id = #{topicId};
    </select>


    <resultMap id="post" type="top.ysqorz.forum.dto.PostDTO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="topic" jdbcType="INTEGER" property="topic"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="visit_count" jdbcType="INTEGER" property="visitCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="collect_count" jdbcType="INTEGER" property="collectCount"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="is_high_quality" jdbcType="TINYINT" property="isHighQuality"/>
        <result column="is_locked" jdbcType="TINYINT" property="isLocked"/>
        <result column="is_like" jdbcType="BOOLEAN" property="isLike"/>
        <result column="top_weight" jdbcType="INTEGER" property="topWeight"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="last_comment_time" jdbcType="TIMESTAMP" property="lastCommentTime"/>
        <!-- 把creator_id传过去 -->
        <association property="creator" column="creator_id"
                     javaType="top.ysqorz.forum.dto.SimpleUserDTO"
                     select="top.ysqorz.forum.dao.UserMapper.selectSimpleUserById" />
        <!-- 把postId传过去 -->
        <collection property="labelList" ofType="top.ysqorz.forum.po.Label" column="id"
                    select="top.ysqorz.forum.dao.LabelMapper.selectLabelsByPostId"/>


    </resultMap>

    <select id="selectListByConditions" resultMap="post"
            parameterType="top.ysqorz.forum.dto.QueryPostCondition">
        select distinct p.id, title,
                topic_name topic,
                creator_id,
                t.id topicId,
                p.create_time,
                visit_count,
                like_count,
                collect_count,
                comment_count,
                is_high_quality,
                is_locked,
                top_weight,
                content,
                last_comment_time
        <if test="userId!= null and userId > 0">
            ,if(l.id!='null',true ,false) as is_like
        </if>
        from post p
        left join user u on p.creator_id = u.id
        left join topic t on p.topic_id = t.id
        <if test="userId!= null and userId > 0">
            left join `like` l on (p.id=l.post_id and #{userId}=l.user_id)
        </if>
        <if test="labelList != null">
            left join `post_label` pl on pl.post_id = p.id
        </if>
        <where>
            <if test="topicId != null and topicId > 0">
                and t.id = #{topicId}
            </if>
            <if test="creator != null and creator != ''">
                <bind name="param_creator" value="'%' + creator + '%'"/>
                and username like #{param_creator}
            </if>
            <if test="title != null and title != ''">
                <bind name="param_title" value="'%' + title + '%'"/>
                and title like #{param_title}
            </if>
            <if test="startPublishTime != null and endPublishTime != null">
                and p.create_time between #{startPublishTime} and #{endPublishTime}
            </if>
            <if test="isHighQuality != null and isHighQuality > 0">
                and is_high_quality>0
            </if>
            <if test="hotDiscussion != null and hotDiscussion > 0">
                and comment_count>100
            </if>
            <if test="labelList != null">
                and
                <foreach collection="labelList" item="item" open="(" separator="or" close=")">
                    pl.label_id = #{item}
                </foreach>
            </if>
        </where>
        <if test="orderByStr != null and orderByStr != ''">
            order by ${orderByStr}
        </if>
    </select>

    <update id="addVisitCount" parameterType="Integer">
        update post set visit_count = visit_count + 1 where id = #{postId}
    </update>

    <update id="addLikeCount" parameterType="map">
        update post set like_count = like_count + #{dif} where id = #{postId}
    </update>

    <update id="addCollectCount" parameterType="map">
        update post set collect_count = collect_count + #{dif} where id = #{postId}
    </update>

    <update id="updateCommentCountAndLastTime" parameterType="map">
        update post
        set comment_count = comment_count + #{dif},
            last_comment_time = now()
        where id = #{postId}
    </update>



</mapper>
