<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>Fly Template v3.0，基于 layui 的极简社区页面模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" th:href="@{/admin/assets/libs/layui/css/layui.css}" href="../res/layui/css/layui.css">
<!--    <link rel="stylesheet" th:href="@{/admin/assets/module/admin.css(v=318)}" href="admin/module/admin.css?v=318"/>-->
    <link rel="stylesheet" th:href="@{/front/res/css/global.css}" href="../res/css/global.css">
    <link rel="stylesheet" th:href="@{/admin/assets/libs/tinymce/plugins/codesample/prism.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/iconfont.css}">
    <!--    <link rel="stylesheet"-->
    <!--          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">-->

    <style type="text/css">
        .detail-about-reply {
            padding-right: 8px !important;
        }

        /* 富文本编辑器全屏，不会被顶部栏所遮挡 */
        .tox-fullscreen {
            z-index: 99999 !important;
        }

        .captcha {
            height: 38px;
            width: 100px;
            cursor: pointer;
            /*box-sizing: border-box;*/
            border: 1px solid #e6e6e6;
            border-radius: 2px !important;
        }

        /* 状态徽章 */
        h1.title span.layui-badge {
            top: -4px;
            height: 24px;
            line-height: 24px;
            padding: 0 6px;
            font-size: 14px;
            margin-right: 0;
        }

        span.layui-badge {
            margin-right: 8px;
        }

        h1.title span.layui-badge-green {
            color: #52c41a;
            background: #f6ffed;
            border: 1px solid #b7eb8f;
        }

        /* 操作链接 */
        a {
            color: #999;
            cursor: pointer;
        }

        div.fly-detail-info a {
            margin-right: 12px;
            line-height: 20px;
        }

        .data-num {
            display: block;
            float: right;
            font-size: 16px;
        }

        .post-footer {
            text-align: center;
            margin-top: 36px;
        }

        div.post-footer .layui-icon {
            font-size: 24px;
            margin-right: 16px;
            cursor: pointer;
        }

        .layui-icon i {
            font-size: 18px;
            padding: 4px;
        }

        .jieda {
            margin-bottom: 8px;
        }

        .jieda li {
            padding: 20px 0 0;
        }

        .jieda-body {
            margin: 24px 0 12px;
            font-size: 16px;
        }

        .jieda-reply {
            margin-bottom: 12px;
        }

        pre {
            border-left: none;
        }

        /*  美化滚动条  */
        .pretty-scroll ::-webkit-scrollbar {
            width: 7px;
            height: 7px;
            background-color: #F5F5F5;
        }

        /*定义滚动条轨道 内阴影+圆角*/
        .pretty-scroll ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        /*定义滑块 内阴影+圆角*/
        .pretty-scroll ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
            background-color: #c8c8c8;
        }
    </style>
</head>
<body style="margin:0">

<div style="height:62px;">
    <iframe scrolling="no" id="main" name="main" frameborder="0" th:src="@{/head}"
            style="width:100%;height:100%;"></iframe>

</div>

<div class="layui-hide-xs">
    <div class="fly-panel fly-column">
        <div class="layui-container">
            <ul class="layui-clear">
                <li class="layui-hide-xs"><a href="/">首页</a></li>
                <li class="layui-this"><a href="">提问</a></li>
                <li><a href="">分享<span class="layui-badge-dot"></span></a></li>
                <li><a href="">讨论</a></li>
                <li><a href="">建议</a></li>
                <li><a href="">公告</a></li>
                <li><a href="">动态</a></li>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

                <!-- 用户登入后显示 -->
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a
                        href="../user/index.html">我发表的贴</a></li>
                <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a
                        href="../user/index.html#collection">我收藏的贴</a></li>
            </ul>

            <div class="fly-column-right layui-hide-xs">
                <span class="fly-search"><i class="layui-icon"></i></span>
                <a href="add.html" class="layui-btn">发表新帖</a>
            </div>
            <div class="layui-hide-sm layui-show-xs-block"
                 style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
                <a href="add.html" class="layui-btn">发表新帖</a>
            </div>
        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <!-- 标题 -->
                <h1 class="title">
                    <span th:text="${post.detail.topic}" class="layui-badge layui-badge-green">话题</span>
                    <span th:text="${post.detail.title}"></span>
                    <span th:if="${post.detail.isLocked == 1}" class="layui-badge"
                          style="background-color: #999;">锁定</span>
                    <!-- <span class="layui-badge" style="background-color: #5FB878;">锁定</span> -->
                    <span th:if="${post.detail.topWeight > 0}" class="layui-badge layui-bg-blue">置顶</span>
                    <span th:if="${post.detail.isHighQuality == 1}" class="layui-badge layui-bg-red">精帖</span>
                    <span th:if="${post.isHot}" class="iconfont icon-remen" style="color: #fc3218; font-size: 26px;"></span>
                </h1>
                <div class="fly-detail-info layui-clear">
                    <!-- <span class="layui-badge">审核中</span> -->
                    <!-- <span class="layui-badge layui-bg-green fly-detail-column">编辑</span> -->
                    <a th:href="@{/post/publish(postId=${post.detail.id})}" href="">编辑</a>
                    <a href="javascript:;">删除</a>
                    <a class="top-link" href="javascript:;">
                        <span th:if="${post.detail.topWeight > 0}">取消置顶</span>
                        <span th:if="${post.detail.topWeight == 0}">置顶</span>
                    </a>
<!--                    <a class="topLink" th:attr="data-top=${post.detail.topWeight}"-->
<!--                       th:if="${post.detail.topWeight == 0}" href="javascript:;">置顶</a>-->
                    <a class="quality-link" href="javascript:;">
                        <span th:if="${post.detail.isHighQuality == 1}">取消精品</span>
                        <span th:if="${post.detail.isHighQuality == 0}">设为精品</span>
                    </a>
                    <span class="data-num">
                      <a href="#comment"><i class="layui-icon layui-icon-dialogue" style="font-size: 16px;"
                                            title="评论数"></i> [[${post.detail.commentCount}]]</a>
                      <i class="iconfont" title="访问量">&#xe60b;</i> [[${post.detail.visitCount}]]
                    </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="../user/home.html">
                        <img th:src="${post.detail.creator.photo}" th:alt="${post.detail.creator.username}" alt="贤心"
                             src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                    </a>
                    <div class="fly-detail-user">
                        <a href="../user/home.html" class="fly-link">
                            <cite th:text="${post.detail.creator.username}">贤心</cite>
                            <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                            <i class="layui-badge fly-badge-vip" th:text="'Lv ' + ${post.detail.creator.level}"
                               th:title="'积分数：' + ${post.detail.creator.rewardPoints}">Lv3</i>
                        </a>
                        <span class="datetime"
                              th:text="${#temporals.format(post.detail.createTime, 'yyyy-MM-dd HH:mm:ss')}">2017-11-30</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span th:each="label : ${post.detail.labelList}" th:text="${label.labelName}"
                              class="layui-badge layui-badge-blue">标签1</span>
                    </div>
                </div>
                <div class="detail-body photos pretty-scroll" th:utext="${post.detail.content}">
                    内容
                </div>

                <div class="post-footer">
                    <span th:if="${post.likeId == null}"
                          class="like layui-icon layui-icon-heart"><i th:text="${post.detail.likeCount}"></i></span>
                    <span th:if="${post.likeId}"
                          class="like layui-icon layui-icon-heart-fill" style="color: #f47046;"><i
                            th:text="${post.detail.likeCount}"></i></span>
                    <span th:if="${post.collectId == null}" class="collect layui-icon layui-icon-star"><i
                            th:text="${post.detail.collectCount}">123</i></span>
                    <span th:if="${post.collectId}" class="collect layui-icon layui-icon-star-fill"
                          style="color: #f47046;"><i th:text="${post.detail.collectCount}">123</i></span>

                    <span class="layui-icon layui-icon-share"><i>分享</i></span>
                </div>
            </div>

            <div class="fly-panel detail-box">
                <div style="margin-bottom: 32px;">
                    <span style="float: right;">
                      <a class="comment-sort" data-isTimeAsc="true">升序</a>
                      <span class="fly-mid"></span>
                      <a class="comment-sort" data-isTimeAsc="false">倒叙</a>
                    </span>
                </div>
                <hr>

                <!-- 评论 -->
                <div id="commentList">


                </div>

                <div class="layui-form layui-form-pane" style="margin-top: 64px;">
                    <form th:action="@{/comment/first/publish}" method="post">
                        <input type="hidden" name="postId" th:value="${post.detail.id}"/>

                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
                                <textarea id="editorContent" name="content"
                                          placeholder="详细描述" class="layui-textarea fly-editor"
                                          style="height: 260px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label for="L_vercode" class="layui-form-label">人类验证</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" name="token" th:value="${token}"/>
                                    <input type="text" id="L_vercode" name="captcha" required lay-verify="required"
                                           placeholder="验证码" autocomplete="off" class="layui-input">

                                </div>
                                <div class="layui-input-inline">
                                    <img id="captchaImage" th:src="@{/captcha(token=${token})}" class="captcha" alt=""
                                         onclick="onCaptchaImageClicked(this)"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-filter="publish" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd>
                    <a href="">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>

                <!-- 无数据时 -->
                <!--
                <div class="fly-none">没有相关数据</div>
                -->
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu"
                       time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
                </div>
            </div>

            <div class="fly-panel" style="padding: 20px 0; text-align: center;">
                <img src="../../res/images/weixin.jpg" style="max-width: 100%;" alt="layui">
                <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
            </div>

        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/"
                                                                                target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>

<!-- 一级评论 模板 -->
<script type="text/html" id="firstCommentItem">
    <ul class="jieda" id="jieda">
        <li data-id="111" class="jieda-daan">
            <div class="detail-about detail-about-reply">
                <a class="fly-avatar" href="">
                    <img src="{{d.creator.photo}}" alt="{{d.creator.username}}">
                </a>
                <div class="fly-detail-user">
                    <a href="" class="fly-link">
                        <cite>{{d.creator.username}}</cite>
                        <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                        <i class="layui-badge fly-badge-vip"
                           title="积分数：{{d.creator.rewardPoints}}">Lv {{d.creator.level}}</i>
                    </a>

                    {{# if (d.isPostCreator) { }}
                    <span>(楼主)</span>
                    {{# } }}
                    <!--
                    <span style="color:#5FB878">(管理员)</span>
                    <span style="color:#FF9E3F">（社区之光）</span>
                    <span style="color:#999">（该号已被封）</span>
                    -->

                </div>

                <div class="detail-hits">
                    <span>{{d.createTime}}</span>
                    <div style="float: right;">
                        <span type="edit">编辑</span>
                        <span type="del" style="margin-left: 12px;">删除</span>
                        <!-- <span class="jieda-accept" type="accept">采纳</span> -->
                    </div>
                </div>
                <!-- 采纳的图标 -->
                <!-- <i class="iconfont icon-caina" title="最佳答案"></i> -->

            </div>
            <!-- 评论的内容，fly-editor-content用于定位  -->
            <div class="detail-body jieda-body photos pretty-scroll">
                {{d.content}}
            </div>

            <div class="jieda-reply">
                <div style="float: right;">
                    <span type="edit" data-expand="false" lay-event="expand" style="padding-right: 0;">展开评论</span>
                    <span id="secondCount_{{d.id}}">({{d.secondCommentCount}})</span>
                    <span lay-event="reply" type="reply">
<!--                                      <i class="iconfont icon-svgmoban53"></i>-->
                        <i class="layui-icon layui-icon-dialogue"></i>
                         回复
                    </span>
                    <span type="edit" style="padding-right: 8px;">{{d.floorNum}} 楼</span>
                    <!-- <span class="jieda-accept" type="accept">采纳</span> -->
                </div>
                <div style="clear: both;"></div>
            </div>


            <div>
                <!-- 二级评论列表 -->
                <div>
                    <div id="secondCommentList_{{d.id}}" class="layui-row"> <!-- -->

                    </div>
                </div>
                <!-- 编辑器 和 按钮-->
                <div class="layui-row">
                    <!-- second-reply用于定位 -->
                    <div class="layui-col-xs-offset1 second-reply layui-hide">
                        <!-- quote-name用于定位 -->
                        <div style="margin-bottom: 12px;">回复&nbsp;<span class="quote-name">王小明</span>：</div>
                        <div>
                            <textarea id="secondEditor_{{d.id}}" name="content" required
                                      lay-verify="required" placeholder="请输入内容"
                                      class="layui-textarea"
                                      style="height: 120px; margin-bottom: 12px;">

                            </textarea>
                            <div style="float: right; margin-bottom: 24px;">
                                <button type="button" lay-event="cancel"
                                        class="layui-btn layui-btn-primary layui-btn-sm">取消
                                </button>
                                <button type="button" lay-event="submit" class="layui-btn layui-btn-sm">回复</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </li>


        <!-- 无数据时 -->
        <!-- <li class="fly-none">消灭零回复</li> -->
    </ul>
</script>
<!-- 二级评论 模板 -->
<script type="text/html" id="secondCommentItem">
    <div class="layui-col-xs-offset1">
        <div class="detail-about detail-about-reply">
            <a class="fly-avatar" href="">
                <img src="{{d.creator.photo}}" alt="{{d.creator.username}}">
            </a>
            <div class="fly-detail-user">
                <a href="" class="fly-link">
                    <cite>{{d.creator.username}}</cite>
                    <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                    <i class="layui-badge fly-badge-vip"
                       title="积分数：{{d.creator.rewardPoints}}">Lv {{d.creator.level}}</i>
                </a>
                {{# if (d.isPostCreator) { }}
                <span>(楼主)</span>
                {{# } }}
            </div>
            <div class="detail-hits">
                <span>{{d.createTime}}</span>
                {{# if (d.quoteSecondCommentId) { }}
                &nbsp;回复
                <a href="" class="fly-link"><cite>{{d.repliedCreator}}</cite></a>
                &nbsp;的
                <a href="" class="fly-link"><cite>评论</cite></a>
                {{# } }}
                <div style="float: right;">
                    <span type="edit">编辑</span>
                    <span type="del" style="margin-left: 12px;">删除</span>
                    <!--                <span class="jieda-accept" type="accept">采纳</span>-->
                </div>
            </div>
        </div>
        <div class="detail-body jieda-body photos pretty-scroll">
            {{d.content}}
        </div>
        <div class="jieda-reply">
            <div style="float: right;">
           <span lay-event="reply" type="reply">
               <i class="layui-icon layui-icon-dialogue"></i>回复
            </span>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</script>
<!-- 弹框：置顶时需要输入置顶权重 -->
<script type="text/html" id="topDialog">
    <form id="topForm" lay-filter="topForm" class="layui-form model-form"
          style="padding: 24px 28px 0 0;">
        <input name="postId" type="hidden" th:value="${post.detail.id}" />
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">置顶权重:</label>
            <div class="layui-input-block">
                <input type="number" name="topWeight" placeholder="同为置顶，权重越大越靠前"
                       class="layui-input" lay-verType="tips" lay-verify="required|topWeight" required
                       max="9999" min="0" th:value="${post.detail.topWeight > 0} ? 0 : ''"  />
            </div>
        </div>
        <div class="layui-form-item" style="float: right;">
            <button class="layui-btn" lay-filter="topSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>

<script th:src="@{/admin/assets/libs/layui/layui.js}" src="../res/layui/layui.js"></script>
<script th:src="@{/admin/assets/libs/tinymce/tinymce.min.js}"
        src="../../../assets/libs/tinymce/tinymce.min.js"></script>
<script th:src="@{/admin/assets/js/common.js(v=318)}" src="admin/js/common.js?v=318"></script>
<script th:src="@{/admin/assets/libs/tinymce/plugins/codesample/prism.js}"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>-->

<script th:inline="javascript">
    // 验证码图片的点击事件
    function onCaptchaImageClicked(obj) {
        console.log(obj);
        var token = [[${token}]];
        obj.src = '/captcha?token=' + token + '&timestamp=' + (new Date().getTime());
    }

    layui.use(['dataGrid', 'util', 'admin', 'app', 'face'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            dataGrid = layui.dataGrid,
            util = layui.util,
            admin = layui.admin,
            app = layui.app;
        app.faces = layui.face; // ！！！ 加载 表情url

        var editorObj; // 编辑器实例
        var curPage; // 评论列表的当前页
        var postId = [[${post.detail.id}]];

        var imgList = [];
        // 将主题帖内容所包含的图片制成相册
        $("div.detail-body img[src]").each(function (index, elem) {
            $(elem).data('index', index);
            imgList.push({
                alt: elem.alt || '暂无描述',
                src: elem.src
            });
        });

        $("div.detail-body img[src]").click(function () {
            console.log(this);
            layer.photos({
                photos: {
                    data: imgList,
                    start: $(this).data('index')
                },
                //anim: 5, //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                shade: .1,
                closeBtn: true
            });
        });



        /* 渲染评论列表 */
        var commentList = dataGrid.render({
            elem: '#commentList',
            templet: '#firstCommentItem',
            url: '/comment/first/list',
            where: {
                postId: postId
            },
            request: {
                limitName: 'count' //每页数据量的参数名，默认：limit
            },
            response: {
                statusCode: 2000 //规定成功的状态码，默认：0
            },
            parseData: function (res) { //res 即为原始返回的数据
                var list = res.data.list;
                list.map(item => {
                    item.createTime = app.formatDateTime(item.createTime);
                    return item;
                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": list //解析数据列表
                };
            },
            page: {
                limit: 6,
                limits: [6, 10, 20, 30]
            },
            done: function (res, curr, count) {
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);

                //得到当前页码
                //console.log(curr);
                curPage = curr;
                dataGridMap.clear();
                editorMap.clear();
                //得到数据总量
                //console.log(count);

                Prism.highlightAll();
            }
        });

        var dataGridMap = new Map(); // 二级评论列表的dataGrid
        var editorMap = new Map(); // 二级评论的editor

        dataGrid.on('tool(commentList)', function (obj) {
            if (obj.event === 'expand') {
                var firstCommentId = obj.data.id;
                var secondList = $('#secondCommentList_' + firstCommentId).parent('div');
                var span = obj.elem.context;
                var isExpanded = $(span).attr('data-expand');
                console.log(isExpanded);
                if (isExpanded === 'true') { // true
                    // 点击收回
                    $(span).attr('data-expand', false);
                    $(span).text('展开评论');
                    secondList.slideUp();
                } else { // false
                    // 点击展开
                    $(span).attr('data-expand', true);
                    $(span).text('收起评论');
                    if (dataGridMap.has(firstCommentId)) {
                        secondList.slideDown();
                        return;
                    }
                    var secondListGrid = dataGrid.render({
                        elem: '#secondCommentList_' + firstCommentId,
                        templet: '#secondCommentItem',
                        url: '/comment/second/list',
                        where: {
                            firstCommentId: firstCommentId
                        },
                        request: {
                            limitName: 'count' //每页数据量的参数名，默认：limit
                        },
                        response: {
                            statusCode: 2000 //规定成功的状态码，默认：0
                        },
                        parseData: function (res) { //res 即为原始返回的数据
                            var list = res.data.list;
                            list.map(item => {
                                item.createTime = app.formatDateTime(item.createTime);
                                item.content = app.content(item.content);
                                return item;
                            });
                            return {
                                "code": res.code, //解析接口状态
                                "msg": res.msg, //解析提示文本
                                "count": res.data.total, //解析数据长度
                                "data": list //解析数据列表
                            };
                        },
                        page: {
                            limit: 5,
                            layout: ['page', 'count']
                        }
                    });
                    var selector = 'tool(secondCommentList_' + firstCommentId + ')';
                    dataGridMap.set(firstCommentId, secondListGrid);
                    dataGrid.on(selector, function (obj) {
                        if (obj.event === 'reply') {
                            // 回复二级评论
                            console.log('回复二级评论');
                            obj.data.type = "second";
                            showSecondEditor(firstCommentId, obj.data);
                        }
                    });
                }

            } else if (obj.event === 'reply') {
                // 回复一级评论  一级评论id：obj.data.id
                console.log('回复一级评论');
                obj.data.type = "first";
                showSecondEditor(obj.data.id, obj.data);
            } else if (obj.event === 'cancel') {
                // 取消回复
                cancelReply(obj.data.id);
            } else if (obj.event === 'submit') {
                // 提交回复
                var comment = editorMap.get(obj.data.id);
                var content = $('#secondEditor_' + obj.data.id).val();
                console.log("提交回复。被回复的评论是：");
                console.log(comment);
                console.log("回复的内容的是：");
                console.log(content);

                var params = {
                    firstCommentId: obj.data.id,
                    content: content
                };
                if ("second" === comment.type) {
                    params.quoteSecondCommentId = comment.id;
                }

                app.ajax('/comment/second/publish', params, function (res) {
                    app.successNotice('回复成功');
                    // reload
                    var dataGrid = dataGridMap.get(obj.data.id);
                    if (app.isNotNull(dataGrid)) {
                        dataGrid.reload();
                    }
                    var countSpan = $('#secondCount_' + obj.data.id);
                    var count = parseInt(countSpan.text().substr(1, countSpan.text().length - 2));
                    countSpan.text('(' + (count + 1) + ')');

                    cancelReply(obj.data.id);
                });
            }
        });

        function cancelReply(firstCommentId) {
            var selector = '#secondEditor_' + firstCommentId;
            $(selector).parents('div.second-reply').addClass('layui-hide');
            $(selector).val('');
        }

        // 第一个参数可能是一级评论，也可能是二级评论
        function showSecondEditor(firstCommentId, comment) {
            var selector = '#secondEditor_' + firstCommentId;
            var secondReplyDiv = $(selector).parents('div.second-reply');
            secondReplyDiv.find("span.quote-name").html(comment.creator.username);
            secondReplyDiv.removeClass('layui-hide');

            if (editorMap.has(firstCommentId)) {
                console.log('已存在');
            } else {
                console.log('第一次创建');
                var secondEditor = app.layEditor({
                    elem: selector
                });
            }
            //console.log(secondEditor); // null ！！！
            editorMap.set(firstCommentId, comment);

            app.scrollIntoView(selector);
        }

        // 点赞
        $("div.post-footer span.like").click(function () {
            // 如果是红色，表示已经点赞。点击意味着要取消点赞
            var isLike = !app.isNotNull($(this).attr("style"));
            var _this = this;
            app.ajax("/post/like", {
                postId: postId,
                isLike: isLike
            }, function (res) {
                var iElem = $(_this).children('i');
                var num = parseInt(iElem.text());
                if (isLike) { // 点赞成功
                    $(_this).removeClass("layui-icon-heart");
                    $(_this).addClass("layui-icon-heart-fill");
                    $(_this).css({"color": "#f47046"});
                    iElem.text(num + 1);
                } else {
                    $(_this).removeClass("layui-icon-heart-fill");
                    $(_this).addClass("layui-icon-heart");
                    $(_this).removeAttr("style");
                    iElem.text(num - 1);
                }
            });
        });

        // 收藏
        $("div.post-footer span.collect").click(function () {
            // 如果是红色，表示已经点赞。点击意味着要取消点赞
            var isCollect = !app.isNotNull($(this).attr("style"));
            var _this = this;
            app.ajax("/post/collect", {
                postId: postId,
                isCollect: isCollect
            }, function (res) {
                var iElem = $(_this).children('i');
                var num = parseInt(iElem.text());
                if (isCollect) { // 点赞成功
                    $(_this).removeClass("layui-icon-star");
                    $(_this).addClass("layui-icon-star-fill");
                    $(_this).css({"color": "#f47046"});
                    iElem.text(num + 1);
                } else {
                    $(_this).removeClass("layui-icon-star-fill");
                    $(_this).addClass("layui-icon-star");
                    $(_this).removeAttr("style");
                    iElem.text(num - 1);
                }
            });
        });

        // 评论排序
        $("a.comment-sort").click(function () {
            // 注意与 attr的区别 .attr('data-isTimeAsc')，且取出的是字符串 'true'
            var isTimeAsc = $(this).data("istimeasc");  // 注意不要写驼峰。返回的是布尔值 true
            // console.log(typeof isTimeAsc);
            // console.log(isTimeAsc);
            commentList.reload({
                where: {
                    isTimeAsc: isTimeAsc
                },
                page: {
                    curr: 1
                }
            });
            // 高亮标识当前的排序方式
            $(this).css({"color": "#5FB878"});
            // 其他排序方式取消高亮
            $(this).siblings("a.comment-sort").removeAttr('style');
        });

        $("a.top-link").click(function () {
            // console.log(typeof topWeight); // number
            // console.log(topWeight);
            admin.open({
                type: 1,
                area: '360px',
                offset: 'auto',
                title: '置顶权重',
                content: $('#topDialog').html(),
                success: function (layero, dIndex) {
                    // 表单提交事件
                    form.on('submit(topSubmit)', function (data) {
                        console.log(data.field);
                        app.ajax('/post/top', data.field, function (res) {
                            layer.close(dIndex); // 关闭弹框
                            app.successNotice('操作成功');
                            setTimeout(function() {
                                location.reload();
                            }, 1000);
                        });
                        return false;
                    });

                    // 弹窗不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        });

        $("a.quality-link").click(function () {
            var quality = ([[${post.detail.isHighQuality}]] === 1);
            // console.log(quality);
            app.ajax('/post/set_quality', {
                postId: postId,
                isHighQuality: !quality
            }, function (res) {
                app.successNotice('操作成功');
                setTimeout(function() {
                    location.reload();
                }, 1000);
            });
        });

        // 表单提交前，会自动校验
        form.verify({
            // 校验置顶权重
            topWeight: function (value, item) { //value：表单的值、item：表单的DOM对象
                var weight = parseInt(value);
                if (weight < 0 || weight > 9999) { // 选择了积分购买可见，才校验
                    return '置顶权重必须在 [0, 9999] 之间';
                }
            }
        });

        // 固定Bar
        util.fixbar({
            bar1: '&#xe642;' // 图标
            , bgcolor: '#009688'
            , click: function (type) {
                if (type === 'bar1') {
                    layer.msg('我要回帖');
                    app.scrollIntoView('div.tox-editor-container');
                }
            }
        });

        // 提交发帖表单
        form.on('submit(publish)', function (data) {
            // data.field.content 是原始 textarea中的值，并非编辑器中的内容
            var content = editorObj.getContent();
            console.log(content);
            console.log(data.field);
            if (app.charLen(content) < 12) {
                layer.msg('评论不能少于5个字符', {icon: 5});
            } else {
                data.field.content = content;

                var url = '/comment/first/publish';
                // 网络请求
                app.ajax(url, data.field, function (res) {
                    commentList.reload({
                        page: {
                            curr: curPage
                        }
                    });
                    //commentList.reload();
                    app.successNotice('评论成功，界面已刷新');
                    editorObj.setContent('');
                    $("input[name=captcha]").val('');
                    $("#captchaImage").click();
                }, "post", function (res) {
                    // 业务失败的回调
                    // 模拟点击，刷新验证码
                    $("input[name=captcha]").val('');
                    $("#captchaImage").click();
                });
            }
            return false;
        });

        // 渲染富文本编辑器
        tinymce.init({
            selector: '#editorContent',
            height: 380,
            branding: false,
            language: 'zh_CN',
            plugins: 'code print preview fullscreen paste searchreplace save autosave link autolink image imagetools media table codesample lists advlist hr charmap emoticons anchor directionality pagebreak quickbars nonbreaking visualblocks visualchars wordcount',
            toolbar: 'fullscreen | undo redo | forecolor backcolor | bold italic underline strikethrough | alignleft aligncenter alignright | indent | numlist bullist | formatselect fontselect fontsizeselect | link image media emoticons charmap anchor pagebreak codesample',
            menubar: [],
            toolbar_drawer: 'sliding',
            images_upload_url: '/upload/image',
            file_picker_types: 'media',
            file_picker_callback: function (callback, value, meta) {
                layer.msg('暂不支持上传本地视频', {anim: 6});
            },
            init_instance_callback: function (editor) {
                // console.log(editor);
                editorObj = editor; // 保存编辑器实例
                // if (app.isNotNull(post)) {
                //     editor.setContent(post.content);
                // }
            },
            images_upload_handler: function (blobInfo, succFun, failFun) {
                var xhr, formData;
                var file = blobInfo.blob(); //转化为易于理解的file对象
                xhr = new XMLHttpRequest();
                xhr.withCredentials = true; // !!!是否携带cookie
                xhr.open('POST', '/upload/image');
                xhr.onload = function () {
                    var json;
                    // 处理响应的数据
                    res = JSON.parse(xhr.responseText);
                    if (xhr.status !== 200 || res.code !== 2000) {
                        failFun(res.msg);
                        return;
                    }
                    succFun(res.data.url[0]);
                };
                formData = new FormData();
                formData.append('image', file, file.name);//此处与源文档不一样
                xhr.send(formData);
            }
        });
    });
</script>

</body>
</html>
