<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>基于 layui 的极简社区页面模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" th:href="@{/admin/assets/libs/layui/css/layui.css}" href="../res/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/front/res/css/global.css}" href="../res/css/global.css">
    <link rel="stylesheet" th:href="@{/admin/assets/css/iconfont.css}">
    <style>
        /** 文章列表样式 */
        .article-list-item {
            border-bottom: 1px solid #e8e8e8;
            margin: 16px;
            position: relative;
        }

        .article-list-item > h2 {
            font-size: 18px;
            color: #333;
            margin-bottom: 12px;
        }

        .article-list-item > h2 > a {
            cursor: pointer;
        }

        .article-list-item > .layui-badge-rim {
            position: absolute;
            right: 0;
            top: 0;
            border: none;
        }

        .article-list-item .layui-badge-list .layui-badge {
            padding-top: 0;
            padding-bottom: 0;
        }

        .article-list-item .article-list-item-text {
            margin-bottom: 12px;
        }

        .article-list-item .article-list-item-img {
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            white-space: nowrap;
            margin-bottom: 16px;
        }

        .article-list-item .article-list-item-img img {
            width: 30%;
            min-width: 180px;
            height: 160px;
            object-fit: cover;
            margin-right: 16px !important;
            cursor: pointer;
        }

        .article-list-item .article-list-item-desc {
            margin-bottom: 12px;
        }

        .article-list-item .article-list-item-desc .head {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .article-list-item .article-list-item-desc > * {
            vertical-align: middle;
        }

        /*lv6等级样式*/
        .article-list-item .article-list-item-desc .lv {
            vertical-align: middle;

            font-weight: bold;
            font-style: italic;
            background-image: -webkit-linear-gradient(left, blue, #66ffff 10%, #cc00ff 20%, #CC00CC 30%, #CCCCFF 40%, #00FFFF 50%, #CCCCFF 60%, #CC00CC 70%, #CC00FF 80%, #66FFFF 90%, blue 100%);
            -webkit-text-fill-color: transparent; /* 将字体设置成透明色 */
            -webkit-background-clip: text; /* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
            -webkit-background-size: 200% 100%;
            -webkit-animation: masked-animation 4s linear infinite;

        }

        @keyframes masked-animation {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: -100% 0;
            }
        }

        .article-list-item .article-list-item-tool {
            color: #666;
            right: 10px;
            float: right;
        }

        .article-list-item .article-list-item-tool .article-list-item-tool-item {
            border-right: 1px solid #e8e8e8;
            padding: 0 15px;
            /*cursor: pointer;*/
        }

        .article-list-item .article-list-item-tool .article-list-item-tool-item:first-child {
            padding-left: 0;
        }

        .article-list-item .article-list-item-tool .article-list-item-tool-item:last-child {
            border-right: none;
            padding-right: 0;
        }

        .article-list-item .article-list-item-tool .article-list-item-tool-item > * {
            vertical-align: middle;
        }

        .article-list-item .article-list-item-tool .article-list-item-tool-item.star-active {
            color: #01AAED;
        }

        .article-list-item .article-list-item-tool .article-list-item-tool-item.star-active .layui-icon-rate:before {
            content: "\e67a";
        }

        /*title标题样式*/
        h2.title span.layui-badge-green {
            color: #52c41a;
            background: #f6ffed;
            border: 1px solid #b7eb8f;
            font-size: 13px;
        }

        h2.title span.layui-badge {
            top: -2px;
        }

        h2.title div.layui-badge-rim {
            float: right;
            top: 3px;
        }

        /*大长腿标签样式*/
        .layui-badge-blue {
            color: #1890ff;
            background: #e6f7ff;
            border: 1px solid #91d5ff;
            margin: 2px;

        }

        .ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /*  美化滚动条  */
        .pretty-scroll ::-webkit-scrollbar {
            width: 7px;
            height: 7px;
            background-color: #F5F5F5;
        }

        /*定义滚动条轨道 内阴影+圆角*/
        .pretty-scroll ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        /*定义滑块 内阴影+圆角*/
        .pretty-scroll ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
            background-color: #c8c8c8;
        }
        .fly-signin-list .layui-tab-item {
            padding: 10px 16px 0 16px;
        }
        .fly-signin-list .layui-tab-item span.layui-badge {
            padding: 0 6px;
            margin-right: 12px;
        }
        .fly-signin-list ul li {
            margin-top: 10px;
            padding-bottom: 10px;
        }

       </style>
</head>
<body style="margin:0">
<div style="height:62px;">
    <iframe scrolling="no" id="main" name="main" frameborder="0" th:src="@{/head}"
            style="width:100%;height:100%;"></iframe>

</div>
<!--<div class="fly-header layui-bg-black">-->
<!--  <div class="layui-container">-->
<!--    <a class="fly-logo" href="/">-->
<!--      <img th:src="@{/front/res/images/logo.png}" src="../res/images/logo.png" alt="layui">-->
<!--    </a>-->
<!--    <ul class="layui-nav fly-nav layui-hide-xs">-->
<!--      <li class="layui-nav-item layui-this">-->
<!--        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>-->
<!--      </li>-->
<!--      <li class="layui-nav-item">-->
<!--        <a href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>-->
<!--      </li>-->
<!--      <li class="layui-nav-item">-->
<!--        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>-->
<!--      </li>-->
<!--    </ul>-->

<!--    <ul class="layui-nav fly-nav-user">-->


<!--      &lt;!&ndash; 登入后的状态 &ndash;&gt;-->

<!--      <li  th:if="${myUser.id!=null}" class="layui-nav-item">-->
<!--        <a class="fly-nav-avatar" href="javascript:;">-->
<!--          <cite class="layui-hide-xs" th:text="${myUser.username}">贤心</cite>-->
<!--          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>-->
<!--          <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>-->
<!--          <img th:src="${myUser.photo}" >-->
<!--        </a>-->
<!--        <dl class="layui-nav-child">-->
<!--          <dd><a href="user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>-->
<!--          <dd><a href="user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>-->
<!--          <dd><a href="user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>-->
<!--          <hr style="margin: 5px 0;">-->
<!--          <dd><a href="/user/logout/" style="text-align: center;">退出</a></dd>-->
<!--        </dl>-->
<!--      </li>-->

<!--    <div  th:if="${myUser.id==null}">-->
<!--      &lt;!&ndash; 未登入的状态 &ndash;&gt;-->

<!--      <li class="layui-nav-item">-->
<!--        <a th:href="@{/user/login}">登入</a>-->
<!--      </li>-->
<!--      <li class="layui-nav-item">-->
<!--        <a th:href="@{/user/reg}">注册</a>-->
<!--      </li>-->
<!--      <li class="layui-nav-item layui-hide-xs">-->
<!--        <a  th:href="@{/user/oauth/qq/authorize}" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入"-->
<!--           class="iconfont icon-QQ"></a>-->
<!--      </li>-->
<!--      <li class="layui-nav-item layui-hide-xs">-->
<!--        <a th:href="@{/user/oauth/gitee/authorize}" onclick="layer.msg('正在通过Gitee登入', {icon:16, shade: 0.1, time:0})" title="微博登入"-->
<!--           class="iconfont icon-Gitee"></a>-->
<!--      </li>-->
<!--    </div>-->


<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div class="fly-panel fly-column">

    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/" class="tark">首页</a></li>
            <!--      <li><a href="jie/index.html">提问</a></li>-->
            <!--      <li><a href="jie/index.html">分享<span class="layui-badge-dot"></span></a></li>-->

            <li th:each="topic : ${topics}">
                <a href="javascript:void(0);" th:onclick="topicsort(this,[[${topic.id}]])" class="tark"
                   th:text="${topic.topicName}">Onions</a>
            </li>

            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

            <!-- 用户登入后显示 -->
            <li th:if="${myUser.id!=null}" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a
                    href="user/index.html">我发表的贴</a></li>
            <li th:if="${myUser.id!=null}" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a
                    href="user/index.html#collection">我收藏的贴</a></li>
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
            <a th:href="@{/post/publish}" target="_blank" href="jie/add.html" class="layui-btn">发表新帖</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block"
             style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
            <a th:href="@{/post/publish}" target="_blank" href="jie/add.html" class="layui-btn">发表新帖</a>

        </div>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">

            <div class="fly-panel" style="margin-bottom: 0;">

                <div class="fly-panel-title fly-filter">
                    <a href="javascript:void(0);" onclick="searchsort(this,1)" class="flag layui-this">综合</a>
                    <span class="fly-mid"></span>
                    <a href="javascript:void(0);" onclick="searchsort(this,2)" class="flag">精品</a>
                    <!--<span class="fly-mid"></span>
                    <a href="">已结</a>
                    <span class="fly-mid"></span>
                    <a href="">精华</a>-->
                    <span class="fly-filter-right layui-hide-xs">
                        <a href="javascript:void(0);" onclick="searchsort(this,3)" class="flag">按最新</a>
                        <span class="fly-mid"></span>
                        <a href="javascript:void(0);" onclick="searchsort(this,4)" class="flag">按热议</a>
                    </span>
                </div>

                <div id="demoCardList3" class="pretty-scroll"></div>


            </div>
        </div>
        <div class="layui-col-md4">

            <div class="fly-panel">
                <div class="fly-panel-title">
                    标签
                    <!-- 刷新 -->
                    <i id="btnRefreshGird" class="layui-icon layui-icon-refresh pull-right"
                       style="cursor: pointer;"></i>
                </div>
                <form class="layui-form">
                    <div id="demoLabelList" class="fly-panel-main layui-form-item"></div>
                    <button id="label-button" lay-submit lay-filter="labelButton" hidden>提交</button>
                </form>

            </div>

            <div class="fly-panel">
                <h3 class="fly-panel-title">温馨通道</h3>
                <ul class="fly-panel-main fly-list-static">
                    <li>
                        <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云)
                            仓库，欢迎Star</a>
                    </li>
                    <li>
                        <a href="http://fly.layui.com/jie/5366/" target="_blank">
                            layui 常见问题的处理和实用干货集锦
                        </a>
                    </li>
                    <li>
                        <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云)
                            仓库，欢迎Star</a>
                    </li>
                    <li>
                        <a href="http://fly.layui.com/jie/5366/" target="_blank">
                            layui 常见问题的处理和实用干货集锦
                        </a>
                    </li>
                    <li>
                        <a href="http://fly.layui.com/jie/4281/" target="_blank">layui 的 GitHub 及 Gitee (码云)
                            仓库，欢迎Star</a>
                    </li>
                </ul>
            </div>


            <div class="fly-panel fly-signin">
                <div class="fly-panel-title">
                    签到
                    <i class="fly-mid"></i>
                    <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
                    <i class="fly-mid"></i>
                    <a href="javascript:showRankDialog();" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a>
                    <span th:if="${myUser.id}" class="fly-signin-days">已连续签到
                        <cite id="consecutiveAttendDays" th:text="${myUser.consecutiveAttendDays}">16</cite>天
                    </span>
                </div>
                <div class="fly-panel-main fly-signin-main">
                    <button th:if="${!isAttendToady}" class="layui-btn layui-btn-danger" onclick="attend(this)" id="LAY_signin">今日签到</button>
                    <!-- 已签到状态 -->
                    <button th:if="${isAttendToady}" class="layui-btn layui-btn-disabled">今日第 [[${attendRank}]] 个签到</button>
                    <span>今日已有<cite>[[${attendCount}]]</cite>个人签到</span>
                </div>
            </div>

            <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
                <h3 class="fly-panel-title">回贴周榜</h3>
                <dl>
                    <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                </dl>
            </div>

            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">本周热议</dt>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>

                <!-- 无数据时 -->
                <!--
                <div class="fly-none">没有相关数据</div>
                -->
            </dl>

            <div class="fly-panel">
                <div class="fly-panel-title">
                    这里可作为广告区域
                </div>
                <div class="fly-panel-main">
                    <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu"
                       time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
                </div>
            </div>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">友情链接</h3>
                <dl class="fly-panel-main">
                    <dd><a href="http://www.layui.com/" target="_blank">layui</a>
                    <dd>
                    <dd><a href="http://layim.layui.com/" target="_blank">WebIM</a>
                    <dd>
                    <dd><a href="http://layer.layui.com/" target="_blank">layer</a>
                    <dd>
                    <dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a>
                    <dd>
                    <dd>
                        <a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE"
                           class="fly-link">申请友链</a>
                    <dd>
                </dl>
            </div>

        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/"
                                                                                target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>
<script th:src="@{/front/res/layui/layui.js}" src="../res/layui/layui.js"></script>
<script th:src="@{/front/res/mods/app.js(v=318)}"></script>
<!-- 帖子模板 -->
<script type="text/html" id="demoCardItem3">

    <div class="article-list-item">
        <h2 class="title layui-clear">
            <span class="layui-badge layui-badge-green">{{d.topic}}</span>
            <a href="/post/detail/{{d.id}}" target="_blank" lay-event="checkPost">{{d.title}}</a>
            {{# if(d.isLocked == 1){ }}
            <span class="layui-badge" style="background-color: #999;">锁定</span>
            {{# } }}
            {{# if(d.topWeight != 0){ }}
            <span class="layui-badge layui-bg-blue">置顶</span>
            {{# } }}
            {{# if(d.isHighQuality != 0){ }}
            <span class="layui-badge layui-bg-red">精贴</span>
            {{# } }}
            {{# if(d.isHot){ }}
            <span class="iconfont icon-remen" style="color: #fc3218; font-size: 22px;"></span>
            {{# } }}
            <div class="layui-badge-rim">{{d.lastCommentTime}}</div>
        </h2>

        <div class="article-list-item-text layui-text" style="color: #999;">
            <p class="ellipsis">{{d.content}}</p>
        </div>

        {{# if(d.imagesList != 0){ }}
        <div id="imageList_{{d.id}}" class="article-list-item-img layui-text">
            {{# layui.each(d.imagesList, function(index, item){ }}
            <img src="{{item}}">
            {{# }); }}
        </div>
        {{# } }}
        <div class="article-list-item-desc layui-text">
            <img src="{{d.creator.photo}}" class="head">&nbsp;
            <a href="javascript:;" class="name" style="margin-right: 12px;">{{d.creator.username}}</a>
            <span class="lv"> Lv6</span>
            <div class="article-list-item-tool">
                <!--            <span class="article-list-item-tool-item {{d.isStar?'star-active':''}}" lay-event="star">-->
                <!--                <i class="layui-icon layui-icon-rate"></i>&nbsp;-->
                <!--                <span>{{d.collectCount}}</span>-->
                <!--            </span>-->
                <span class="article-list-item-tool-item {{d.isLike?'star-active':''}}" lay-event="like">
                <i class="layui-icon layui-icon-praise"></i>&nbsp;
                <span>{{d.likeCount}}</span>
            </span>
                <span class="article-list-item-tool-item" lay-event="comment">
                <i class="layui-icon layui-icon-dialogue"></i>&nbsp;
                <span>{{d.commentCount}}</span>
            </span>
            </div>
        </div>

    </div>
</script>

<!-- 签到记录的模板 -->
<script type="text/html" id="rankDialog">
    <div class="layui-tab layui-tab-brief" style="margin: 5px 0 0;">
        <ul class="layui-tab-title">
            <li class="layui-this">今日最快</li>
            <li>总签到榜</li>
            <li>最新签到</li>
        </ul>
        <div class="layui-tab-content fly-signin-list pretty-scroll" id="LAY_signin_list">
            <!-- 今日最快签到榜 -->
            <ul id="fastRankList" class="layui-tab-item layui-show">1</ul>
            <!-- 连续签到的天数的排行榜 -->
            <ul id="consecutiveRankList" class="layui-tab-item">2</ul>
            <ul class="layui-tab-item">3</ul>
        </div>
    </div>
</script>

<!-- rank item  -->
<script type="text/html" id="rankItem">
    <li>
        {{#
            var color;
            if (d.rank == 1) {
                color = '#FE2D46';
            } else if (d.rank == 2) {
                color = '#F60';
            } else if (d.rank == 3) {
                color = '#FAA90E';
            }
        }}
        {{# if (d.rank <= 3) { }}
        <span class="layui-badge" style="background: {{color}};">{{d.rank}}</span>
        {{# } else { }}
        <span class="layui-badge layui-bg-gray">{{d.rank}}</span>
        {{# } }}
        <a href="javascript:;" target="_blank">
            <img src="{{d.photo}}">
            <cite class="fly-link">{{d.username}}</cite>
        </a>
        {{# if (d.attendTime) { }}
        <span style="float: right;" class="fly-grey">{{d.attendTime}}</span>
        {{# } }}
        {{# if (d.consecutiveAttendDays) { }}
        <span style="float: right;" class="fly-grey">已连续签到 <i>{{d.consecutiveAttendDays}}</i> 天</span>
        {{# } }}
    </li>

<!--    <li class="fly-none fly-grey">暂无记录</li>-->
</script>

<!-- 标签模板 -->
<script type="text/html" id="demoLabelItem">
    <input id="label_{{d.id}}" name="labelsId[]" value="{{d.id}}" title="{{d.labelName}}" type="checkbox" lay-skin="primary" lay-filter="label" lay-submit>
<!--    <div id="{{d.id}}" name="labelCheckbox" class="layui-unselect layui-form-checkbox" lay-skin="primary">-->
<!--        <span>{{d.labelName}}</span>-->
<!--        <i class="layui-icon layui-icon-ok"></i>-->
<!--    </div>-->
</script>

<script type="text/javascript" th:src="@{/admin/assets/libs/layui/layui.js}" src="assets/libs/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/admin/assets/js/common.js(v=318)}" src="assets/js/common.js?v=318"></script>
<script type="text/javascript" th:src="@{/admin/assets/libs/echarts/echarts.min.js}" src="assets/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" th:src="@{/admin/assets/libs/echarts/china.js}" src="assets/libs/echarts/china.js"></script>
<script type="text/javascript" th:src="@{/admin/assets/libs/echarts/echarts-wordcloud.min.js}" src="assets/libs/echarts/echarts-wordcloud.min.js"></script>
<script>

    layui.use(['layer', 'form', 'dataGrid', 'element', 'dropdown', 'admin', 'app'], function () {
        var $ = layui.jquery;
        var app = layui.app;
        var layer = layui.layer;
        var form = layui.form;
        var dataGrid = layui.dataGrid;
        var admin = layui.admin;
        var conditon = {
            hotDiscussion: "0",
            orderByStr:  "top_weight desc, last_comment_time desc",
            isHighQuality:  "0",
            topicId: "",
            labelsId: ""
        };

        // rank dialog
        window.showRankDialog = function () {
            var dataGridMap = new Map();

            admin.open({
                type: 1,
                area: '360px',
                offset: 'auto',
                title: '签到活跃榜 Top20',
                content: $('#rankDialog').html(),
                success: function (layero, dIndex) {
                    // 增加点击事件
                    $("ul.layui-tab-title > li").click(function () {
                        //console.log($(this).index()); // 从0开始
                        var idx =  $(this).index();
                        loadRank(idx);
                    });

                    loadRank(0);

                    // 弹窗不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });

            function loadRank(idx) {
                var elems = ['#fastRankList', '#consecutiveRankList'];
                var urls = ['/attend/rank', '/attend/consecutive/rank'];
                if (!dataGridMap.has(elems[idx])) {
                    var grid = dataGrid.render({
                        elem: elems[idx],
                        templet: '#rankItem',
                        url: urls[idx],
                        // 浏览器调试dataGrid的源码发现，在不分页的情况下，该配置不起作用，导致无法渲染
                        // response: {
                        //     statusCode: 2000 //规定成功的状态码，默认：0。
                        // },
                        // request: {
                        //     limitName: 'count' //每页数据量的参数名，默认：limit
                        // },
                        where: {
                            count: 20
                        },
                        parseData: function (res) { //res 即为原始返回的数据
                            //console.log(res);
                            return {
                                "code": res.code === 2000 ? 0 : 1, //解析接口状态
                                "msg": res.msg, //解析提示文本
                                "count": res.data.length, //解析数据长度
                                "data": res.data //解析数据列表
                            };
                        },
                        page: false,
                        done: function (res, curr, count) {
                            // 数据渲染完的回调
                            console.log(res);
                            console.log("--------");
                        }
                    });
                    dataGridMap.set(elems[idx], grid);
                }
            }
        };

        // 签到
        window.attend = function (obj) {
            app.ajax('/attend', {}, function (res) {
                console.log(res);
                app.successNotice('签到成功，今日第 ' + res.data.rank + ' 个签到');
                $(obj).text('今日第' + res.data.rank + '个签到');
                $(obj).removeClass('layui-btn-danger');
                $(obj).addClass('layui-btn-disabled');
                $('#consecutiveAttendDays').text(res.data.consecutiveAttendDays);
            });
        };

        window.topicsort = function (dom, id) {
            conditon.topicId = id;
            var loadIndex = layer.load(2);
            insTb.reload({
                where: conditon,
                page: {curr: 1}
            });
            $(dom).parent().addClass("layui-this");
            $(dom).parent().siblings("li").removeClass("layui-this");
            layer.close(loadIndex);
        };

        window.searchsort = function (dom, params) {
            var loadIndex = layer.load(2);
            if (params == 1) { // 综合
                conditon.hotDiscussion = "0";
                conditon.orderByStr = "top_weight desc, last_comment_time desc";
                conditon.isHighQuality = "0";
                $(dom).siblings(".flag").removeClass("layui-this");
                $(dom).addClass("layui-this");
            } else if (params == 2) { // 精品
                conditon.hotDiscussion = "0";
                conditon.orderByStr = "last_comment_time desc";
                conditon.isHighQuality = "1";
                $(dom).siblings(".flag").removeClass("layui-this");
                $(dom).addClass("layui-this");
            } else if (params == 3) { // 最新
                conditon.hotDiscussion = "0";
                conditon.orderByStr = "last_comment_time desc";
                conditon.isHighQuality = "0";
                $(dom).siblings(".flag").removeClass("layui-this");
                $(dom).addClass("layui-this");
            } else { // 热议
                conditon.hotDiscussion = "1";
                conditon.orderByStr = "comment_count desc,last_comment_time desc";
                conditon.isHighQuality = "0";
            }
            insTb.reload({
                where: conditon,
                page: {curr: 1}
            });
            layer.close(loadIndex);
        };


        /** 文章 */
        var insTb = dataGrid.render({
            elem: '#demoCardList3',
            templet: '#demoCardItem3',
            url: '/index/list',
            response: {
                statusCode: 2000 //规定成功的状态码，默认：0
            },
            where: {orderByStr: 'top_weight desc, last_comment_time desc'},
            parseData: function (res) { //res 即为原始返回的数据
                console.log(res);
                var list = res.data.list;
                list.map(item => {
                    item.lastCommentTime = app.formatDateTime(item.lastCommentTime);
                    return item;
                });
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            },
            // where: {token: 'sasasas', id: 123},
            page: true,
            done: function (res, curr, count) {
                // 数据渲染完的回调
                console.log(res);
                console.log(typeof res);
                for (var i = 0; i < res.length; i++) {
                    layer.photos({
                        photos: '#imageList_' + res[i].id,
                        //anim: 5, //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                        shade: .1,
                        closeBtn: true
                    });
                }
            }
        });

        dataGrid.on('tool(demoCardList3)', function (obj) {
            var data = obj.data;
            if (obj.event === 'star') {
                data.isStar = !data.isStar;
                data.isStar ? data.star++ : data.star--;
                obj.update(data);
                // } else if (obj.event === 'like') {
                //   data.isLike = !data.isLike;
                //   data.isLike ? data.like++ : data.like--;
                //   obj.update(data);
                // } else if (obj.event === 'comment') {
                //   layer.msg('点击了评论');
            }
            // else if (obj.event === 'checkPost') {
            //     window.location.href = "/post/detail/" + data.id;
            // }
        });

        /* 标签 */
        var label = dataGrid.render({
            elem: '#demoLabelList',
            templet: '#demoLabelItem',
            url: '/index/label',
            page: false,
            parseData: function (res) {
                // console.log(res);
                return {
                    "code": res.code === 2000 ? 0 : 1, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.length, //解析数据长度
                    "data": res.data //解析数据列表
                };
            },
            done: function (res, curr, count) {
                form.render('checkbox');
            }
        });

        $("#btnRefreshGird").click(function () {
            label.reload();
        });

        form.on('checkbox(label)', function (data) {
            $('#label-button').click();
        });

        form.on('submit(labelButton)', function (data) {
            // console.log(data.field);
            conditon.labelsId="";
            for (let i in data.field) {
                conditon.labelsId = conditon.labelsId + "," + data.field[i];
            }
            console.log(conditon);
            insTb.reload({
                where: conditon,
                page: {curr: 1}
            });
            return false;
        });

    });

</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>
