@font-face {
  font-family: "myiconfont"; /* Project id 2609590 */
  src: url('//at.alicdn.com/t/font_2609590_eekqd51oiyo.woff2?t=1625301065870') format('woff2'),
  url('//at.alicdn.com/t/font_2609590_eekqd51oiyo.woff?t=1625301065870') format('woff'),
  url('//at.alicdn.com/t/font_2609590_eekqd51oiyo.ttf?t=1625301065870') format('truetype');
}

.myiconfont {
  font-family: "myiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suo:before {
  content: "\e623";
}

.icon-youxiang:before {
  content: "\e631";
}

.icon-lujing141:before {
  content: "\e63a";
}

.icon-huiyuan:before {
  content: "\edc2";
}

.icon-remen:before {
  content: "\e6b2";
}

.icon-baiduwangpan:before {
  content: "\e603";
}

.icon-QQ:before {
  content: "\e602";
}

.icon-Gitee:before {
  content: "\e601";
}

.icon-GitHub:before {
  content: "\e600";
}