@font-face {
  font-family: "iconfont"; /* Project id 2609590 */
  src: url('iconfont.woff2?t=1625237163263') format('woff2'),
       url('iconfont.woff?t=1625237163263') format('woff'),
       url('iconfont.ttf?t=1625237163263') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remen:before {
  content: "\e6b2";
}

.icon-baiduwangpan:before {
  content: "\e603";
}

.icon-QQ:before {
  content: "\e602";
}

.icon-Gitee:before {
  content: "\e601";
}

.icon-GitHub:before {
  content: "\e600";
}

